[2016-03-03 19:39] #7709 closed

[2016-03-03 21:23] marti1125 commented on #8382
Hi @plweil why should be buttons insteand of `<a></a>` ?
I can use tab to focus and enter to expand
https://github.com/jquery/jquery-mobile/blob/master/js/widgets/collapsible.js#L153

[2016-03-03 22:09] marti1125 commented on #8363
Hi @wwy94621 I trying this https://jsfiddle.net/20zou0qb/
but I can not test  the example =/

[2016-03-04 02:22] plweil commented on #8382
Anchors are for links. Using them as buttons is bad semantics. Why confuse people using screenreaders with the wrong tags/semantics? If someone thinks that the anchor is a button (e.g., a keyboard user) and presses the spacebar, nothing will happen. That's unexpected behavior, because pressing the spacebar on a button will "click" it. Let's say someone isn't running javascript. They come across an

[2016-03-04 02:27] arschmitz commented on #8382
@plweil you are correct about the accessibility issue we don't necessarily need to use buttons but if we use links we need to use proper aria attributes and handlers to make them work as expected.

That said the collapsible widget has been deprecated in 1.5 and we are using the jQuery UI accordion widget instead which is properly accessible in all of our testing. However if you do find any problem

[2016-03-04 06:06] marti1125 commented on #8346
Hi @thesadabc I'm confused @_@ you append a div in body and then tap event show and alert its ok for me... =?
http://codepen.io/marti1125/pen/qZObBJ
http://codepen.io/marti1125/full/qZObBJ/

`$layout.on('tap', ".child", function () {
		alert("child");
	});`

[2016-03-04 06:22] marti1125 commented on #8338
Hi @thenewguy about collapsible

   https://github.com/jquery/jquery-mobile/issues/8382

please check this solution http://codepen.io/marti1125/pen/MyaKjr

[2016-03-04 13:59] plweil commented on #8382
Yes, one could apply role="button" to anchors (or even to divs or spans, for that matter), but why bother with that? Why not use something with the correct native semantics already there?

Thanks, I will take a look at 1.5 and the JQ UI accordion, since I am using the collapsible widget extensively.

[2016-03-04 15:50] plweil commented on #8382
I'm wondering: precisely what sort of accessibility testing the  jQuery UI accordion widget has been subjected to?

At first glance, at least, the code and approach seem dubious. Header tags using role="tab"? Is this an accordian or tabs?

This widget got a particularly poor writeup by the SSB Bart Group in 2013. Has anything changed substantially since then?

http://www.ssbbartgroup.com/blog/jque

[2016-03-04 15:59] scottgonzalez commented on #8382
A fair amount.

Accordions *are* tablists. See https://www.w3.org/TR/wai-aria-practices/#accordion

Instead of assuming that nothing has changed in three years, perhaps you should only provide actual testing results showing accessibility problems rather than spreading FUD.

[2016-03-04 18:52] plweil commented on #8382
They *can* be tablists, but they don't have to be. The best practices docs are working drafts, and the accordion section is undergoing a review. There is no official accordion "role", and accordions can be done differently. I gave you one example, and there are others that don't use tab-releated roles., eg.,

https://labs.ssbbartgroup.com/index.php/ARIA_Accordion

I am not affiliated with SSB Bart

[2016-03-04 19:37] scottgonzalez commented on #8382
To be honest, a phrase like "just might" doesn't warrant the team trying out a different approach. If you can point to actual accessibility issues with the existing implementation, then we can talk about that. But accessibility is so difficult and there are multiple way to handle most widgets that constantly trying new things without explicit issues that need to be addressed just creates a LOT of

[2016-03-05 08:44] #8346 closed

[2016-03-08 23:07] tomaszn commented on #8363
The console reports "TypeError: listview is undefined" for this code:
`		listview = data.prevPage.jqmData( "listview" ),
		form = listview.jqmData( "filter-form" );
`

[2016-03-10 21:14] brody182 opened #8398 "does not change page when submit button (IOS 9.2)"
`<button type="submit" id="submitBtn" onClick="storeLocalContent(document.querySelector('#firstName').value)" class="Button ctct-button Button--block Button-secondary" style="background-color:#3598DB; color:#ffffff; width: 260px; margin: 0 auto; position: relative;" data-enabled="enabled">Get Access2</button>`

form javascript code

[code]

[2016-03-11 06:56] wwy94621 commented on #8363
I found there is a bug in the demo, it's working now.
Thanks everyone.

[2016-03-11 07:59] tomaszn commented on #8363
Hi, the "long list example" doesn't work. "TypeError: listview is undefined"

[2016-03-11 08:20] wwy94621 commented on #8363
Please check the demo, the bug in line 5, try to change it to
"if (!pageIsSelectmenuDialog(data.prevPage)) {", and good luck.
*******************************************************************************************************************************
1 .on( "pagecontainerhide", function( event, data ) {
2		var listview, form;
3
4		// We only handle the disappearance of a dialog generated by a f

[2016-03-11 16:48] marti1125 commented on #8393
I think you don't need
[code]

[2016-03-11 17:03] danatemple commented on #8393
No, probably not, as long as the textarea is long enough so you have scrolled.

[2016-03-15 10:46] Gemorroj commented on #8381
@arschmitz any information about 1.4.6?

[2016-03-15 11:46] cofetti commented on #7978
Still getting this error in IE 10, but only on one of my several popups.
Good thing the fix works, thank you.

[2016-03-15 17:56] dotku opened #8399 "Once it reach the top, the elastic effect lost function"
Please try it on iOS device, version: 9.2.1

Here is my demo code: http://weijinglin.name/tech/jquery-mobile/page.html
Once the scroll reaches the top, it would stop when you try to move it down. It is not smooth as well.

[2016-03-15 18:34] marti1125 commented on #7957
Hi @jaspermdegroot any update ? Can I help you?

[2016-03-15 19:56] marti1125 commented on #8399
hi @dotku  can I try this in xcode ?

[2016-03-15 21:44] marti1125 commented on #8393
Hi @danatemple Could tell me what do you expect? what is the final design. please
I test in chrome and firefox

![textarea](https://cloud.githubusercontent.com/assets/223240/13795046/059035b8-eacd-11e5-9c30-f0cbeb55bdb1.png)

[2016-03-15 21:55] marti1125 commented on #8356
Hi @bluedisk is not a bug is "?%AB" because %AB doesn't exist
for example
http://demos.jquerymobile.com/1.4.5/?%jjksa
Percent-encoding "%AB" doesn't exist. here you are
https://en.wikipedia.org/wiki/Percent-encoding

[2016-03-15 22:00] marti1125 commented on #8338
Hi @thenewguy  can I close this issue?

[2016-03-15 22:02] marti1125 commented on #8385
:+1:

[2016-03-15 22:11] marti1125 commented on #8328
Hi @acha5066 any update about this issue?

[2016-03-15 22:16] marti1125 commented on #8327
Hi!! @uniqsign I suggest you use click event insteand of submit <form method="get"> or ajax event
* any progress about this problem?

[2016-03-15 22:48] thenewguy commented on #8338
@marti1125 I am not really sure what you are showing me.  I've attached photos showing what it looks like

![screenshot-a pen by willy aguirre - mozilla firefox](https://cloud.githubusercontent.com/assets/77731/13796649/58282a7c-eade-11e5-8557-5ac96f80af55.png)

vs the demo

![screenshot-collapsible - jquery mobile demos - mozilla firefox](https://cloud.githubusercontent.com/assets/77731/13796655/

[2016-03-16 04:51] marti1125 commented on #8338
the correct use of this... =/

[code]

[2016-03-16 06:00] uniqsign commented on #8327
The problem is somehow caused by the encoded URL. It is not related to the click event. Example, the form is using GET method, so when submit it is passing the form element name and value to the URL..
After the page reload, popup can't be open anymore..

If I change it to ajax event it will solve the problem. However, the user couldn't copy and paste the link to others..

I think this is somehow a

[2016-03-16 06:54] danatemple commented on #8393
What I expect is the scroll_container div not to suddenly jump back to the top, just because I typed a char in the textfield.

To reproduce, scroll down to the bottom of the textfield, type a char in it, and it will jump back to the top.

Happens in every browser I've tried, including mobile.

You can see why if you look in the _updateHeight() call (in JSM source) - it momentarily sets the textfie

[2016-03-16 12:21] marti1125 commented on #8327
when submit a form the web will refresh it. maybe you can use localstorage
http://stackoverflow.com/questions/1038572/easiest-way-to-persist-data-on-a-php-page

[2016-03-16 12:50] marti1125 commented on #8393
thanks for the answer!! :D yes I saw that effect when I copy data in textarea the scroll go to top =/
I will try again later

[2016-03-16 13:10] uniqsign commented on #8327
Oh, sorry what I mean is example

1.  I am creating list all transaction/results page.
2.  On top of the results table, there is a search/filter form (GET method) so user can filter the transactions by dates (textfield), categories (select dropdown with jquery mobile popup), etc.
3. Let say the select drop down name is `<select name="filter[category]">`
4. After user submit the form, the website w

[2016-03-16 13:52] thenewguy commented on #8338
I greatly appreciate the attempt but I am not sure how you can help me.  The style selectors in jqm need to be adjusted.  But this isn't likely since the collapsible widget is depreciated.  The .ui-bar classes should not target the header in a collapsible or you end up with the look that your demo showed instead of the collapsible look like in the demos.

[2016-03-16 15:56] marti1125 commented on #8338
in firefox  inspector I don't see ui-bar in  ui-collapsible-heading

![uibar](https://cloud.githubusercontent.com/assets/223240/13818763/2914b692-eb65-11e5-9498-5d997973578a.png)
http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.css
I think is for init ui-bar in general, simple demo http://codepen.io/marti1125/pen/YqNPme
http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.css same case b

[2016-03-16 16:02] thenewguy commented on #8338
Your codepen doesn't place the collapsible as a child of a ui bar element does it? http://demos.jquerymobile.com/1.4.5/body-bar-classes/

Try moving the collapsible to the header like this http://codepen.io/anon/pen/PNWqwx

[2016-03-16 16:04] thenewguy commented on #8338
But I think I will just close this issue.  The widget is depreciated

[2016-03-16 16:04] #8338 closed

[2016-03-16 16:10] marti1125 commented on #8338
ok :)

[2016-03-16 16:37] Palestinian commented on #8385
@marti1125 the fix isn't passing the test. You may try it yourself, if you feel like it :)

[2016-03-16 19:08] dotku commented on #8399
@marti1125 you could but I don't if it has same issue. It is working on chrome, since refresh action is always triggered; but there won't be any effect on safari.

[2016-03-16 19:45] dotku opened #8400 "The demo page is missing"
Demo page: http://api.jquerymobile.com/jquery.mobile.loadpage/
And the demo won't work due the missing page: http://api.jquerymobile.com/resources/results.php

[2016-03-16 23:56] dotku opened #8401 "jQuery Mobile Load failed?!"
I create a example over here: http://dotku.github.io/tech/jquery-mobile/jquery.mobile.loadPage-so.html
but it doesn't work :(

[2016-03-17 03:07] happyhj commented on #8401
error message is this

[code]

You should initialise page container widget to **$('#container')** before using as pageContainer option value.

[code]

[2016-03-17 22:43] brody182 commented on #8398
is anybody else having this problem?  When I submit the button it does not take me to the next page

[code]

[2016-03-18 10:25] Palestinian commented on #8401
You can't have `pageConatiner` inside a page div. All pages should be children of `pageContainer`.

[2016-03-18 10:29] Palestinian commented on #8398
submitHandler: function(form) {
      /* preventDefault here */
      $(':mobile-pagecontainer').pagecontainer('change', '#benefits-facts');
      /* reload is false be default */
      focusInvalid: false;
    }

[2016-03-18 11:05] jaspermdegroot commented on #7803
I am going to close this because it landed in 1.5-dev as part of the toolbar rewrite by @cgack.

[2016-03-18 11:05] #7803 closed

[2016-03-18 11:12] jaspermdegroot commented on #8400
@dotku - Thanks for reporting the issue! The API documentation has its own repo. I opened a ticket there https://github.com/jquery/api.jquerymobile.com/issues/387

[2016-03-18 11:12] #8400 closed

[2016-03-19 00:34] brody182 opened #8403 "Uncaught SecurityError: Failed to execute 'replaceState' on 'History': A history state object with URL"
[code]

[2016-03-19 00:39] #8403 closed

[2016-03-19 01:33] brody182 commented on #8398
it works in safari but not in the ios simulator

[2016-03-19 16:12] apsdehal opened #8404 "Demos: Links in search result not working"
If you search here: http://view.jquerymobile.com/1.5-demos-issues/demos/

and click on one of the links then you can find a 404 here. Issue is with https://github.com/jquery/jquery-mobile/blob/1.5-demos-issues/demos/jqm-contents.php#L17 `../` used in the links. It simply points on the previous folder.

This will work in the sub folders like listview, but not on the home.
Possible solution from my

[2016-03-19 16:14] apsdehal opened #8405 "Demos: Search navigation is not working"
As mentioned in #8245 arrow navigation is not working in search results. I am working on this issue as of now.

Following should be expected results for this issue to be closed:
- Arrow key navigation with up and down should work
- On pressing the enter button on a selected list item it should take us to that respective page.

[2016-03-19 18:36] apsdehal opened #8407 "Demos: Submit in search is not working"
Works on tab + enter, since it focuses on button and then submits. Working on this one through keydown event on input.

[2016-03-19 18:42] apsdehal commented on #8407
@jaspermdegroot What is the expected response? As of now in #8406, I have shifted the `enter` key action to take user to the link which is highlighted through navigation.

What I think of:
- When nothing is highlighted, take to search results
- Otherwise to the highlighted link.

[2016-03-20 09:15] exgphe opened #8408 "Not fully-compatible with jQuery 2.2"
With the newest jQuery version, jQuery Mobile popup can't be opened. It throws error: In a.preventdefault(), a.preventdefault is not defined. This problem can be fixed when downgraded to jQuery 2.1.4.

[2016-03-20 09:44] apsdehal commented on #8408
@exgphe jQuery 2.2 was released after jQuery Mobile 1.4.5 and is not supported by it. This is fixed in the latest code which will be for 1.5.0. Closing as a duplicate of #8381

[2016-03-20 09:44] #8408 closed

[2016-03-20 10:02] apsdehal opened #8409 "Tests: Negation in suites parameter doesn't work when used as mentioned in README"
`!` is a special command in bash and should be escaped in the command. Working on this.

[2016-03-20 11:39] arschmitz commented on #8404
this is a regression since 1.4.5 so id start by looking at 1.4.5 http://demos.jquerymobile.com/1.4.5/

[2016-03-21 07:57] #8363 closed

[2016-03-21 08:22] jaspermdegroot commented on #8407
@apsdehal - Your last comment sounds right to me.

[2016-03-21 08:27] jaspermdegroot commented on #7957
hi @marti1125

Help is always welcome! If you can open a PR in the https://github.com/jquery/api.jquerymobile.com repo to make the changes as I described in my comment https://github.com/jquery/jquery-mobile/issues/7957#issuecomment-75123138 above that would be great! Thanks!

[2016-03-22 06:56] wwy94621 opened #8413 "Filterable custom selectmenu doesn't working properly after filtered"
I found the filterable custom selectmenu doesn't working properly after filtered.
For example, I have a list as below:
<option value="11">11</option>
<option value="12">12</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="31">31</option>
<option value="32">32</option>
after input "2" for filter, I get the new list as below:
<option value="12">12</option>
<option

[2016-03-22 15:56] bkazi opened #8414 "Using Hammer.js for touch events"
I was interested in the GSoC idea of using Hammer.js to support the touch events in JQuery and would like some additional information on this

[2016-03-22 18:27] apsdehal commented on #8413
@wwy94621 Can you create a fiddle for this and share the link here?

[2016-03-22 18:31] jaspermdegroot commented on #8414
@bkazi

Here is the log of our team meeting from a few weeks ago in which we discussed this: http://irc.jquery.org/%23jquery-meeting/default_%23jquery-meeting_20160225.log.html#t14:16:44

[2016-03-22 20:07] marti1125 commented on #8414
@jaspermdegroot I sent a draft about jQuery Mobile husting bugs but I did not receive any feedback :(

[2016-03-22 21:49] marti1125 commented on #8327
Hi sry for delay!! try to add form action="/"
how to save that data?
results.php?filter%5Bname%5D=1&text=asdasd Is it return an array?
results.php I think must be a jquery mobile page

[2016-03-23 02:26] wwy94621 commented on #8413
Hi, please check the [jsfiddle](https://jsfiddle.net/wwy94621/3zqvmaae/7/).
input "2" and try to select some item, you may see the issue.

Thanks

[2016-03-26 04:32] apsdehal opened #8415 "Demos: Search broken in external widgets page"
Only a text with search is shown, that works on clicking.

[2016-03-26 04:35] marti1125 commented on #7957
Hi @jaspermdegroot
I'm trying to deploy api.jquerymobile.com but I have error with grunt taks. When I run grunt deploy I get an error about  Running "build-xml-entries:all" (build-xml-entries) task
<img width="603" alt="captura de pantalla 2016-03-25 a las 23 33 17" src="https://cloud.githubusercontent.com/assets/223240/14058063/0f03a69e-f2e2-11e5-92f2-0154fc0f5265.png">

I added in Mac OS: libxml

[2016-03-26 04:46] #8407 closed

[2016-03-26 04:46] #8405 closed

[2016-03-26 05:02] #8409 closed

[2016-03-26 20:24] arschmitz commented on #8414
this is not the place for this closing

[2016-03-26 20:24] #8414 closed

[2016-03-26 20:24] arschmitz commented on #8415
this was fixed but in branch closing

[2016-03-26 20:24] #8415 closed

[2016-03-26 20:25] arschmitz commented on #8404
this is fixed in 1.5-dev

[2016-03-26 20:25] #8404 closed

[2016-03-29 00:59] wwy94621 commented on #8413
@apsdehal Did you check the fiddle, do you see the bug?

[2016-03-31 04:10] szollosi opened #8416 "filterable widget "table filter" demo doesn't work well"
1. when i type what is on the table head (rank, movie, title or year , etc.) it doesn't filter anything
2. http://demos.jquerymobile.com/1.4.5/filterable/
3. i just type texts into the search field
4. ?
5. ?
6. i tested chromium 49 and firefox 45 on debian 8.3 x64, another people tested on windows 7, too
7. your demo environment, as i see jquery.js version is 1.10.2, jquery.mobile.min.js version i

[2016-04-01 19:20] marti1125 commented on #8416
demo uses the last version view-source:http://demos.jquerymobile.com/1.4.5/filterable/
I didn't find any bug about this.

[2016-04-01 19:22] marti1125 commented on #8339
any update about this =)

[2016-04-01 21:09] marti1125 commented on #8183
Hi @gabrielschulhof the problem is the build of jquery-mobile in <script src="../../js/"></script>
it doesn't has zIndex() method like this http://code.jquery.com/mobile/git/jquery.mobile-git.js I'm  trying to fix this

[2016-04-01 22:23] apsdehal commented on #8339
@marti1125 This has been merged into 1.5-dev, closing accordingly.

[2016-04-01 22:23] #8339 closed

[2016-04-01 22:40] marti1125 commented on #8339
ok :)

[2016-04-02 02:57] szollosi commented on #8416
how can i switch off that feature, when i type in the search input field of "filter table" demo (second demo on this page) that words what is in the table head (ie. "rank", "movie", "title", "year", etc), it doesn't filter anything? :)

i attach 3 screenshot:
1. when i filter text what is in table title, it doesn't filter anything. i think it must filter out the entire table
2. when i filter text

[2016-04-02 03:34] marti1125 commented on #8416
**data-filter="true" on the table element to generate a filter for table rows. **
you need a new feature for filter columns

[2016-04-02 04:42] szollosi commented on #8416
as i see the data-filter="true" is on the table element. the "table filter" demo is this:

`<form>
    <input id="filterTable-input" data-type="search">
</form>
<table data-role="table" id="movie-table" data-filter="true" data-input="#filterTable-input" class="ui-responsive">
    <thead>
        <tr>
            <th data-priority="1">Rank</th>
            <th data-priority="persist">Movie Title</t

[2016-04-02 05:23] marti1125 commented on #8416
because this behavior is from listview. table Inherited filter from listview
https://github.com/jquery/jquery-mobile/blob/master/js/widgets/filterable.backcompat.js#L193
http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js

https://github.com/jquery/jquery-mobile/blob/master/js/widgets/filterable.js#L29 (use tbody for filter)
I hope it clear for you... =/ or maybe you add Rank

[2016-04-02 06:31] szollosi commented on #8416
not clear for me, why the filter works differently when i type "qq" or "jj" - which is not in tbody - and when i type "ov" or "ws" - which is not in tbody either. one difference what we found is "ov" and "ws" found in thead.

[2016-04-02 11:58] jaspermdegroot commented on #7957
@marti1125

Yeah, I did hear about problems with deploying the API docs. I think they were fixed by now, but I am not sure to be honest. If you still encounter problems please open a ticket at the API docs repo so the people that are looking into this will be aware of it.

[2016-04-02 13:56] agcolom commented on #7957
@marti1125 @jaspermdegroot Yes, this issue around the deployment of the api docs was fixed by https://github.com/jquery/api.jquerymobile.com/commit/c9950027ed101b74c94084f02b39c29e5ba8441a#diff-b9cfc7f2cdf78a7f4b91a753d10865a2 and https://github.com/jquery/jquery-wp-content/commit/836858d66f9833dfc02b00c393bdca848acb1205

[2016-04-02 14:14] jaspermdegroot commented on #7957
@agcolom

That's great. Thanks for the update!

[2016-04-02 17:23] marti1125 commented on #7957
@agcolom thanks!!

[2016-04-05 15:52] trungpolit commented on #8301
I am facing the same issue. When the popup dialog was shown, the background was broken
![wp_ss_20160403_0002](https://cloud.githubusercontent.com/assets/2825389/14288479/12f077bc-fb81-11e5-843e-5bf0cbabbaf7.png)
![wp_ss_20160403_0003](https://cloud.githubusercontent.com/assets/2825389/14288480/12f4f846-fb81-11e5-9cd5-6503da1c7627.png)

[2016-04-05 20:21] ktgrach opened #8419 "document.getElementById("").checked no longer works after ajax call"
after an ajax call jQuery.ajax('' ......
document.getElementById("id_mode").innerHTML = "Manual"; //this line works
document.getElementById("id_ip_mode_dhcp").checked = true; //this line doesn't work anymore

Both work before a call. only one works after call. used this exact code with jQuery v2.1.1. It failed after changing to jqmobile ver. 1.4.5.and jQuery 2.22

[2016-04-06 02:15] yomasa opened #8420 "JQuery Mobile stuck on loading spinner"
"<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>"

using chrome on mobile, opening html page locally on phone

[2016-04-06 04:49] marti1125 commented on #8420
Hi @yomasa could you use http://jsbin.com/huvoraba/1/edit?html,css,js,output for a better explanation?

[2016-04-06 04:56] marti1125 commented on #8419
Hi @ktgrach could you add an example about your problem using this: http://jsbin.com/huvoraba/1/edit

[2016-04-07 00:08] likeitneverwentaway opened #8421 "Popups don't open on wanted position if user scrolls down"
Hi, I spent all day on this and it's driving me crazy...
I have two popups. The first one is in the footer : I want the popup to open at the same position as the footer. It works if you don't scroll. If you scroll the popup will open every time on the original position of the footer. How can I update the correct coordinates to the popup position ?

Then I have dynamic popups that are created whit

[2016-04-07 00:37] likeitneverwentaway commented on #8421
Oh my god I fixed it simply by replacing position : absolute by fixed... Still has some issue, mostly nothing is centered but I'll go with it.

[2016-04-07 00:37] #8421 closed

[2016-04-07 16:26] marti1125 commented on #8416
Hi @szollosi  I found an example in stackoverflow. This example uses jqm 1.4.0
 http://stackoverflow.com/questions/21257556/jquery-mobile-how-to-table-search-bar
http://jsfiddle.net/ezanker/fr8Yd/2/
![rank_jqm](https://cloud.githubusercontent.com/assets/223240/14358605/4d18e2a2-fcb3-11e5-9516-5cd49406e6cf.png)
![jqmdemofilter](https://cloud.githubusercontent.com/assets/223240/14358606/4d46f412-fcb

[2016-04-07 17:38] szollosi commented on #8416
hi, i tested with data-mode="columntoggle". when i set this attribute, the filtering works fine. without it the filtering doesn't work well.

[2016-04-07 18:22] gabrielschulhof opened #8422 "Core CSS: There is no space between the button text and the icon, if the icon is floatbeginning/floatend"
@jaspermdegroot wrote in #8309:

[2016-04-08 07:02] kiranphp opened #8423 "JQuery mobile text field not loosing focus on clicking a radio button.(On Android phone)"
`I` am new to JQuery mobile and Cordova.I created a simple Cordova application with JQuery mobile having a form with a simple text-field and a radio input.However I noticed a problem when the application was run as I typed in some text and click on the radio button ,I notices the focus is still on the text input.If JQuery mobile was not used or if data-role is set to none for the input element, th

[2016-04-13 15:28] pooyamoha opened #8425 "JQuery mobile problem with scrollTop"
In the following link I have attached a sample of my source code:

http://jsfiddle.net/ezanker/xY7tx/2382/

I have a list of 34 items when you press down the keyboard and you reach the 10th item, it would successfully scrollTop to 11th element. But when you keep pressing down and when you reach 30th item, with my code it supposed to scrollTop to 31th item but it isn't.

To reproduce the bug please

[2016-04-13 15:45] pooyamoha commented on #8425
The problem is that i  am setting

var container = $('div'),
but jQuery Mobile automatically creates a page div to wrap around your code if you do not explicitely provide the div. Change it to

var container = $('#listAddr'),

please delete this thread it was my fault. Thanks!

[2016-04-14 18:00] jaspermdegroot commented on #8422
Actually we don't have to add padding to the button, but margin to the icon. I had absolute positioning of the icon (like we used to this) in my mind when I wrote that. Will add the margin.

[2016-04-14 18:34] jaspermdegroot commented on #8245
@apsdehal - Could you please check the checkboxes in the list above of the issues with the search navigation that you have fixed already? Thanks!

[2016-04-14 19:52] apsdehal commented on #8245
@jaspermdegroot Done!

[2016-04-14 20:33] marti1125 commented on #7957
Hi @jonathansampson could you check my PR please =D

[2016-04-15 16:28] marti1125 commented on #8393
Hi @danatemple I am trying this http://jsfiddle.net/losnir/nnkeH/1/ from http://stackoverflow.com/questions/18262729/how-to-stop-window-jumping-when-typing-in-autoresizing-textarea I think is a bug with textarea

[2016-04-18 05:28] gbraad commented on #8303
Hi guys... I wasn't aware of this discussion. I only published this package for my own needs and have to admit I haven't looked after it. I know jquery-mobile has a release on Bower, but at that time it did not fit my needs. I can remove it...

[2016-04-18 11:51] arschmitz commented on #8303
@gbraad yeah it would be great it we could get ownership of the npm package as we would like to publish the upcoming release to npm and continue to keep it up to date going forward.

[2016-04-18 11:56] gbraad commented on #8303
@arschmitz the easiest step would be to add you as collaborator first. I guess from there you can do anything. If not, we can always reach out to npmjs and ask them for support. What is the account name I can use? You can me a private message by email if needed.

[2016-04-21 18:28] jaspermdegroot commented on #8422
Landed in 1.5-dev. Closing.

[2016-04-21 18:28] #8422 closed

[2016-04-21 18:47] gabrielschulhof opened #8428 "Toolbar: Add option "external""
external:
* null: use current code (roughly ```this.element.closest(".ui-page")```) to detect whether you're in a page.
* true: Assume you're external
* false: Assume you're internal

The reason we need this is that external toolbars set all current and future pages to position: relative, however, if a toolbar is instantiated on a floating piece of DOM, it will not find a parent page, thus affecti

[2016-04-21 18:47] gabrielschulhof commented on #8428
Oh, check other places/widgets where we check whether a widget is inside a page and create this option there too.

[2016-04-25 08:47] apsdehal commented on #2661
@arschmitz Any updates on this? We have a "mobileinit" event.

[2016-04-25 11:35] arschmitz commented on #2661
yes lets close it there has not been any one asking if they do we can reconsidder

[2016-04-25 11:35] #2661 closed

[2016-04-25 14:28] apsdehal commented on #8401
Closing as fixed @dotku kindly use #jqueryui on freenode for further help with implementation.

[2016-04-25 14:28] #8401 closed

[2016-04-25 14:29] apsdehal commented on #8381
@arschmitz What is the final stance on 1.4.6?

[2016-04-25 14:37] arschmitz commented on #8381
We are planning a 1.4.6 once we get 1.5 out

[2016-04-25 14:37] apsdehal commented on #8356
@bluedisk The URl format for your url is wrong, kindly head over to SO question linked in the issue comments for more information. Closing since not a bug related to JQM.

[2016-04-25 14:37] #8356 closed

[2016-04-25 14:47] apsdehal commented on #8352
@leandrolimasi as mentioned in the previous comment, this happens due to performance reasons. Kindly refer to the link in the comment for more information. If you want to discuss this further, you can do so on #jqueryui on freenode.

[2016-04-25 14:47] #8352 closed

[2016-04-25 14:48] apsdehal commented on #8245
http://view.jquerymobile.com/1.5-dev/demos/transitions/ should also refrain from using dialogs in examples.

[2016-04-28 05:53] faabalia opened #8429 "jquery mobile, error with select menu in Android with Chrome version 50"
I have updated my Chrome browser to last version and I have the following problem:

When I select an option of a select menu it does not appear selected, I repeat the process of the selection and then it is selected OK. If I try to select other option it happens the same, first time bad, second time OK. It is happening since I have update to version 50 of Chrome, with previous version 49 it worked

[2016-04-28 18:09] agcolom commented on #8420
Yes, It seems to be a security issue. When I do this (open a local file with JQM on my machine, I get this error message:
___
Uncaught SecurityError: Failed to execute 'replaceState' on 'History': A history state object with URL 'file://macintosh%20hd/Users/anne-gaellecolom/Documents/jQueryStuff/localJQMTest.html' cannot be created in a document with origin 'null' and URL 'file://macintosh%20hd/Us

[2016-04-28 18:41] cgack commented on #8428
@gabrielschulhof is there a specific demo/example where I can see this?

[2016-04-28 22:15] arschmitz commented on #8420
@agcolom jqm cant nor ever could work with the local file protocol

[2016-04-29 11:17] gabrielschulhof commented on #8428
@cgack I was going to build selectmenu that way to save on DOM manip, but I couldn't, because it was marking all pages as ```position: relative```.

Try this:
0. Go to http://jsbin.com/zifoxi/
0. Click "Go to other page"
0. Click "Go back"
0. Click "Create popup"
0. Click "Go to other page"

At this point the other page will appear below the current page, which is itself ```visibility: hidden```-e

[2016-05-03 08:11] gabrielschulhof opened #8430 "Controlgroup: Theming is broken on 1.5-dev"
Check "Controlgroup theming" under demos/controlgroup. Class ```ui-theme-b``` is being applied to the controlgroup, but it's having no effect.

[2016-05-03 14:00] lukebarber commented on #8429
We are also having this issue and can replicate it - for us, it's specifically Chrome 50.0.2661.8.

A video showcasing this issue is here: https://goo.gl/photos/StTKphg79r1ZZKTJ8

Once the dropdown appears and flashes, no selections can be made (the dropdown disappears, but the selection is not kept).

[2016-05-03 14:01] arschmitz commented on #8429
ping @gabrielschulhof can you check the updated selectmenu against this

[2016-05-03 18:11] gabrielschulhof commented on #8430
NM - ui-group-theme-* is needed, not ui-theme-*

[2016-05-03 18:11] #8430 closed

[2016-05-05 05:25] dannygunawan commented on #8429
I am also having this issue but not for all select menu, but only when the select menu is placed inside a panel.
[code]
It works fine with Desktop, Cordova iOS 9.3, but happens with Android.

JQM: 1.4.5 & JQuery: 2.1.3 & Android 6.0.1 & Chrome (Android) 48.0.2564

[2016-05-05 09:12] faabalia commented on #8429
The issue in my case happens always and we don't have the selectmenu placed inside a panel.

JQM: 1.4.5 JQuery: 2.1.1 Android 5.1.1 & Chrome (Android) 50.0.2661.89

[2016-05-05 09:29] clintirving commented on #8429
@faabalia - I'm also currently experiencing this same issue.  I believe it has to do with a conflict between JQuery Mobile hiding the data-position="fixed" elements on the page (i.e. the header and footer) and the native android select options menu.

As a workaround if you hide the header and footer earlier than JQuery Mobile normally does, things work correctly.

Here's a simple test page to demo

[2016-05-06 02:16] clintirving commented on #8429
Looking further into this...

I have to question the logic behind JQuery Mobile hiding the toolbars on select element focus by default. The native browser select elements overlay the page in their various special ways, and even the non-native select popup (which you get when specify the data attribute data-native-menu="false" in html or nativeMenu: false in the selectmenu options) is absolutely po

[2016-05-06 06:21] faabalia commented on #8429
Hi Clint,
First of all thank you very much for your answers.
I have tried both of them and the first one works fine in portrait, but in landscape does not work.
The second solution works in both orientations, but I've found one issue: if I enter data in an input text, close the keyboard and try to select an option of a combo, the issue happens. If instead of close the keyboard, I tap the screen an

[2016-05-06 07:13] clintirving commented on #8429
Hi @faabalia

I'm glad my second solution works for you - it's definitely the better option as it's much closer to addressing the cause than the first option which was a pretty far-fetched workaround.

Interesting observation regarding the text input - don't worry, there's a solution to this which just expands on my previous answer.  By adding **data-hide-during-focus="input, textarea"** jquery-mo

[2016-05-06 09:31] faabalia commented on #8429
Hi Clint,

I have tested your suggestion but if I put input, data-hide-during-focus="" it does not work , I have the same issue as If do not put it. I think that it attempts to show the header and footer again for all the elements (select, input, textarea, ...).

Debugging with Chrome in line 12670 of jquery mobile file the value of o.hideDuringFocus has the value: "input, textarea, select".

[2016-05-06 23:11] clintirving commented on #8429
Hi @faabalia - check to make sure that you have put data-hide-during-focus="" in both your header AND your footer.  Also check to make sure that Chrome isn't loading a cached page (it often does this).  I reproduced your scenario yesterday and I believe this does fix the issue.  The value "input, textarea, select" for o.hideDuringFocus is just the default value in jQuery mobile of hideDuringFocus

[2016-05-07 03:00] crs2m5 commented on #8429
Hi @lukebarber i have exact issue as you. i have tried the solutions of adding data-hide-during-focus=""
to both header and footer and to no avail. has anyone tried this and not work still?

[2016-05-07 16:58] apsdehal commented on #2452
It would be good to have a fiddle explaining the whole scenario, closing for now due to inactivity for a long time. @smackie604 If you still find the issue feel free to reopen with a fiddle.

[2016-05-07 16:58] #2452 closed

[2016-05-07 17:00] apsdehal commented on #2865
Closing as fixed.

[2016-05-07 17:00] #2865 closed

[2016-05-07 17:10] apsdehal commented on #3414
Closing since this feature is not needed universally.

[2016-05-07 17:10] #3414 closed

[2016-05-07 18:07] apsdehal commented on #5556
Issues seems to be fixed in latest jqm version, not able to reproduce. If issue still persists, kindly reopen.

[2016-05-07 18:08] #5556 closed

[2016-05-07 18:13] apsdehal commented on #5731
Not able to reproduce @commadelimited it would be better if you provide a fiddle. Closing as of now.

[2016-05-07 18:13] #5731 closed

[2016-05-08 02:54] apsdehal commented on #6116
Not able to reproduce on latest jqm on 2.3.3, closing as of now. If problem persists, kindly reopen.

[2016-05-08 02:54] #6116 closed

[2016-05-08 03:02] apsdehal commented on #8425
It is working as expected by your code. It is not able to scrollTop to 31st element because there are no more elements after 34 to scroll down. Kindly use SO or IRC #jqueryui to ask questions regarding implementation. Thanks, closing as of now.

[2016-05-08 03:02] #8425 closed

[2016-05-08 03:04] apsdehal commented on #8423
jQuery issue system is specifically for bugs which don't match the given description of action. From future, kindly use SO or #jqueryui on IRC for questions related to implementation. Closing as of now.

[2016-05-08 03:04] #8423 closed

[2016-05-08 03:08] apsdehal commented on #8420
Closing as not a bug with jqm's implementation.

[2016-05-08 03:08] #8420 closed

[2016-05-08 03:12] apsdehal commented on #8419
Kindly have a look at [this](http://stackoverflow.com/questions/24514566/checkbox-set-to-checked-false-not-working) question on SO. Kindly from future, ask implementation related question which are not a bug on expected output part of jqm on SO or #jqueryui on IRC. Closing.

[2016-05-08 03:12] #8419 closed

[2016-05-08 03:22] apsdehal commented on #8399
Confirmed on iOS 9.2.1, @arschmitz @gabrielschulhof Any idea about this?

[2016-05-08 03:29] apsdehal commented on #7960
Kindly reopen this after providing a suitable fiddle for comparison. Use this as template: http://jsbin.com/huvoraba/1/edit. Thanks.

[2016-05-08 03:29] #7960 closed

[2016-05-08 03:36] apsdehal commented on #8355
JQM is not supposed to work with file and res protocols.

[2016-05-08 03:40] apsdehal commented on #8361
Kindly reopen this by creating a fiddle representing your problem. Use template http://jsbin.com/ofuhaw/791/. Thanks.

[2016-05-08 03:40] #8361 closed

[2016-05-08 03:44] apsdehal commented on #8328
Hi, this really doesn't seems an issue with jqm but a one with your implementation. Kindly provide the final html output (without any PHP code) using this template: http://jsbin.com/huvoraba/1/edit?html,output and reopen the issue.

[2016-05-08 03:44] #8328 closed

[2016-05-08 03:45] apsdehal commented on #8342
@jaspermdegroot If I am not wrong, I think this has been fixed, right?

[2016-05-08 05:47] apsdehal commented on #8330
@wwy94621 Kindly provide a fiddle using http://jsbin.com/huvoraba/1/edit?html,output

[2016-05-08 05:50] #8253 closed

[2016-05-08 05:50] #8248 closed

[2016-05-08 05:51] #8238 closed

[2016-05-08 05:52] #8194 closed

[2016-05-08 05:53] apsdehal commented on #8184
@carsonip @gabrielschulhof Any updates on this?

[2016-05-08 05:54] #8134 closed

[2016-05-08 05:54] #8137 closed

[2016-05-08 05:56] apsdehal commented on #8132
Closing as not really related to JQM.

[2016-05-08 05:56] #8132 closed

[2016-05-08 05:57] #8071 closed

[2016-05-08 05:58] apsdehal commented on #8066
@gabrielschulhof Any plans to pick this up again, it would require a lot of changes in the branch.

[2016-05-08 06:03] apsdehal commented on #8042
Closing as not able to reproduce. Kindly provide a strong demo to illustrate the bug. Thanks.

[2016-05-08 06:03] #8042 closed

[2016-05-08 06:04] #7946 closed

[2016-05-08 06:05] #7943 closed

[2016-05-08 06:25] carsonip commented on #8184
@apsdehal the PR is #8185 with the updates, I have not worked on this since Jul 11, 2015 tho. I thought @arschmitz said you guys will implement it in a different way.

[2016-05-08 06:29] apsdehal commented on #7940
@arschmitz I guess this can be closed now.

[2016-05-08 06:44] apsdehal commented on #7909
Fixed in 1.5-dev.

[2016-05-08 06:44] #7909 closed

[2016-05-08 07:10] apsdehal commented on #7827
You can try building the specific parts from the repo itself as it is highly modular. Closing as of now.

[2016-05-08 07:10] #7827 closed

[2016-05-08 07:14] #7787 closed

[2016-05-08 07:15] #7804 closed

[2016-05-08 07:20] apsdehal commented on #7786
Yes, even on latest 1.5-dev, it do behaves weirdly with a lot of flickering in scrolling. Status is now confirmed.

[2016-05-08 07:23] #7746 closed

[2016-05-08 07:35] apsdehal commented on #7861
Kindly use http://jsbin.com/huvoraba/1/edit?html,output to provide a fiddle, closing till then. Reopen whenever you can confirm the issue with fiddle.

[2016-05-08 07:35] #7861 closed

[2016-05-08 10:11] apsdehal commented on #7658
Confirmed as of now at http://jsbin.com/jawiqecede/edit?html,js,output

[2016-05-08 10:15] apsdehal commented on #7658
Problem seems to be occuring because header has been encapsulated inside a div that prevents default behavior. Closing since toolbar works as expected on using as expected by documentation.

[2016-05-08 10:15] #7658 closed

[2016-05-08 10:28] apsdehal commented on #7847
Closing as unable to reproduce, kindly provide a fiddle. I have tried on latest firefox using the website provided in the forum and I don't see any difference.

[2016-05-08 10:28] #7847 closed

[2016-05-08 10:34] apsdehal commented on #8371
Closing as of now, kindly reopen with fiddle.

[2016-05-08 10:34] #8371 closed

[2016-05-08 10:35] #7670 closed

[2016-05-08 10:36] #7510 closed

[2016-05-08 10:39] apsdehal commented on #7360
@cgack I assume this can be safely closed now?

[2016-05-08 10:41] #7204 closed

[2016-05-08 10:46] apsdehal commented on #6924
Not an issue with JQM but with jQuery, kindly refer the document for proper use and head over to irc for fixing it.

[2016-05-08 10:46] #6924 closed

[2016-05-08 10:47] apsdehal commented on #6828
@arschmitz Are we going to do something about this or should I close?

[2016-05-08 10:48] #6691 closed

[2016-05-08 10:49] #6695 closed

[2016-05-08 10:50] apsdehal commented on #6364
Closing as not relevant anymore.

[2016-05-08 10:50] #6364 closed

[2016-05-08 10:53] apsdehal commented on #5987
@arschmitz Can this be closed as we have individual modules now?

[2016-05-08 18:18] arschmitz commented on #8342
i fixed this forgot to close

[2016-05-08 18:18] #8342 closed

[2016-05-08 23:46] yomasa commented on #8420
That's  basically because it works on my cell phone in firefox
On Apr 28, 2016 6:16 PM, "Alexander Schmitz" <notifications@github.com>
wrote:

[2016-05-09 03:27] arschmitz commented on #8355
we do support native file protocols for apps like this

[2016-05-09 03:27] arschmitz commented on #8355
I think we fixed this already though might just be for 1.5 @gabrielschulhof do you recall?

[2016-05-09 09:22] faabalia commented on #8429
It works OK, except two case: if I am in an input field entering data and after that I just close the keyboard and then go to a select menu and display the options, the flash happens again and it does not work. The second situation that does not work is when I am in the input entering data with the keyboard shown, if I go directly to a select menu, the flash happens and when I try to select an opt

[2016-05-09 12:05] SteveUnger commented on #8429
Hi, I tried to create a bugfix code but it doesn't work.
`if (Support.browser === "android" && Support.version > 49) {
		$(document).on("pagecreate", function(event) {
			var $pageParts = $(event.target).find("div[data-role='header'], div[data-role='footer']");
            $pageParts.attr("data-hide-during-focus","");

		});
	}`

The attribute is inserted to DOM but it doesn't work correct like
`<

[2016-05-09 18:40] arschmitz commented on #6828
id close for now if this is ever a problem we can re consider

[2016-05-09 18:43] arschmitz commented on #8184
We still plan on doing this just not sure of exact implementation it will probably go into 1.6

[2016-05-09 19:48] crs2m5 commented on #8429
So i am able to get part of my drop downs to work now. after adding the
`data-hide-during-focus=""`

to header and footer at the end of the tags, i can select items . but it still flickers twice  when i touch it on a mobile device

any ideas?

[2016-05-10 07:04] zaferlatif commented on #8429
Given solutions I've tried, but did not get results. However, I am having the same problem on Facebook.

https://www.facebook.com/zaferlatif35/videos/vb.599157345/10154124374237346/

[2016-05-10 12:19] faabalia commented on #8429
Testing with the beta version of Google Chrome and Android WebView System (51.0.2704.36) works fine.

[2016-05-12 11:59] apsdehal commented on #6905
Closing as discussed with @arschmitz. We plan to move on with our current structure of unit tests.

[2016-05-12 11:59] #6905 closed

[2016-05-12 12:04] apsdehal commented on #8383
Closing as issue with firefox and not with jqm.

[2016-05-12 12:04] #8383 closed

[2016-05-12 12:09] apsdehal commented on #8359
@nsteenbeek Were you able to fix the issue?
If not kindly provide me a fiddle so I can test it first on a Windows 10 browser.

[2016-05-12 12:45] apsdehal commented on #8348
I tried replicating the scenario you mentioned in the demos page of jqm. But couldn't find the response as mentioned by you and worked as expected. Kindly check if there is some issue with your server side implementation. If problem persists, kindly reopen the issue with a demo.

[2016-05-12 12:45] #8348 closed

[2016-05-12 12:46] #8341 closed

[2016-05-12 15:35] apsdehal commented on #8303
@gbraad I am willing to do this, kindly add me as a collaborator.

[2016-05-12 15:38] apsdehal commented on #8283
Closing as fixed in 1.5-dev. Master is not the latest development branch but the latest stable branch. 1.5 will be merged into master when ready to be released.

[2016-05-12 15:38] #8283 closed

[2016-05-12 15:41] arschmitz commented on #8303
@gbraad sorry got off on other things can you add me as a collaborator and i will cordinate with @apsdehal for moving this over to the official distribution

[2016-05-12 16:46] #6828 closed

[2016-05-12 17:00] apsdehal commented on #8330
Closing, kindly reopen whenever fiddle is ready.

[2016-05-12 17:00] #8330 closed

[2016-05-12 17:07] #6546 closed

[2016-05-12 17:08] apsdehal commented on #6707
Closing due to inactivity. If issue still persists, kindly reopen.

[2016-05-12 17:08] #6707 closed

[2016-05-12 17:16] apsdehal commented on #6712
Closing as per #6758

[2016-05-12 17:16] #6712 closed

[2016-05-12 17:39] apsdehal commented on #6785
We no longer support iOS version <7. So closing.

[2016-05-12 17:39] #6785 closed

[2016-05-12 17:51] apsdehal commented on #5986
Closing as per note in the content. Local fixes can be applied as per convenience.

[2016-05-12 17:51] #5986 closed

[2016-05-12 17:53] apsdehal commented on #7132
Fixed, closing.

[2016-05-12 17:53] #7132 closed

[2016-05-12 18:12] arschmitz commented on #5987
Yes but lets open issues for any widgets which dont have an individual module test already i think there are still a acouple

[2016-05-12 18:28] apsdehal commented on #8399
@dotku It would be really good if you can provide fiddle for your case.

[2016-05-12 18:30] jaspermdegroot commented on #8399
The problem might be the `-webkit-overflow-scrolling:touch;` that is used in the custom style.

[2016-05-12 18:40] apsdehal commented on #7208
Closing due to no activity and fix provided by cgack

[2016-05-12 18:40] #7208 closed

[2016-05-12 18:42] apsdehal commented on #7262
Kindly provide a fiddle for the issue. Template: http://jsbin.com/huvoraba/1/edit?html,output. Closing till then.

[2016-05-12 18:42] #7262 closed

[2016-05-12 18:47] apsdehal commented on #7469
Issue due to upstream. Closing here. Coveralls will be removed with phantomjs upgrade and we will look for an alternative,

[2016-05-12 18:47] #7469 closed

[2016-05-12 23:10] mgol commented on #8283
What's the purpose of the `master` branch then? Is it so that people can submit PRs against a stable version as that's what most of them would like?

If so, then the `master` branch should work on the most popular Node.js versions which include versions 4 and now 6.

However, the contextify issue seems to be fixed now as I was able to successfully ran `npm install` on `master` on Node.js 6.1.0.

[2016-05-13 12:36] dconversa commented on #8429
I have the same problem on Samsung Tab A, Android 5.0.2, WebView 50.0.2661.86, Chrome 50.0.2661.89.
I have added the attributes as in the example, but still doesn't work.
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="input, textarea">
<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="input, textarea">

[2016-05-16 17:22] gbraad commented on #8303
Check. Will do so tomorrow (on mobile now)

[2016-05-16 20:35] nsteenbeek commented on #8359
Hi @apsdehal, It resulted in closing the Windows 10 app. When running directly in the browser it will not close the browser. So, that fiddler will not help, since you need an app.

[2016-05-17 01:17] gbraad commented on #8303
Done

[2016-05-18 22:02] nthapakiTransplant commented on #8429
I'm still facing same issue with Android version 6.0.1. Not able to select item from the dropdown. Any idea? I tried everything written in above comments, Didn't work out.

We have our mobile version site where we use JqueryMobile for all control whereas on the same site we have one button which redirects user to desktop version of the site. After redirecting to that page , dropdown doesn't work.

[2016-05-18 22:11] arschmitz commented on #8429
@nthapakiTransplant are you saying the dropdown on your desktop page which does not use jQuery Mobile does not work after redirecting to it from the jQuery Mobile site?

[2016-05-18 22:12] nthapakiTransplant commented on #8429
Yes. You are correct.

[2016-05-18 22:13] nthapakiTransplant commented on #8429
It works fine in all other mobile devices, same page but only doesn't work in Android device version 6.0.1 and with Chrome version 50.0.2661.89.

[2016-05-18 22:20] arschmitz commented on #8429
@nthapakiTransplant that can't possibly be jQuery Mobile if jQuery mobile is not on the page your having the issue with.

[2016-05-19 14:34] apsdehal commented on #8329
Only happens in native android browser, works fine on Chrome. Works good with iOS chrome, but is closes relatively slow.

[2016-05-19 18:10] apsdehal commented on #6771
Closing as fiddle is outdated. Kindly reopen with fixed fiddle.

[2016-05-19 18:10] #6771 closed

[2016-05-19 18:18] apsdehal commented on #4981
No longer an issue with latest jqm closing.

[2016-05-19 18:18] #4981 closed

[2016-05-19 18:19] apsdehal commented on #6989
Not able to reproduce. Closing!

[2016-05-19 18:19] #6989 closed

[2016-05-19 18:27] cgack commented on #8324
Closed via gh-8397

[2016-05-19 18:27] #8324 closed

[2016-05-19 18:54] apsdehal commented on #8320
Closing in support of tap events to be replaced using Hammer.js.

[2016-05-19 18:54] #8320 closed

[2016-05-20 09:19] redbeed commented on #8429
I have the same problem with Bootstrap (Version 3.3.6) and when i set the css prop. **transition** to **none** it works fine.

[2016-05-22 16:59] jdecastroc commented on #8429
As @redbeed said changing transition to none works like a charm. I had a select form were I couldn't pick any option but after adding style: "transition: none" it worked perfectly. Thanks!

[2016-05-23 10:00] vecmezoni commented on #8429
https://bugs.chromium.org/p/chromium/issues/detail?id=613885

[2016-05-23 13:30] apsdehal commented on #6938
Not able to reproduce on the provided fiddle with git version. Closing as of now.

[2016-05-23 13:30] #6938 closed

[2016-05-23 13:33] apsdehal commented on #7241
No plans to shift on this till intern integration.

[2016-05-23 13:33] #7241 closed

[2016-05-23 13:34] apsdehal commented on #7273
Closing, kindly look into contribution guidelines and provide a specific fiddle that shows performance difference, I am not able to produce anything as of now with specific demo mentioned.

[2016-05-23 13:34] #7273 closed

[2016-05-23 13:35] apsdehal commented on #7273
It would be even better if some performance benchmarks can be provided to justify your claims.

[2016-05-23 13:38] apsdehal commented on #7219
Working fine on 1.5 and latest. Closing.

[2016-05-23 13:38] #7219 closed

[2016-05-23 13:45] apsdehal commented on #7272
Not able to reproduce as of now. @gabrielschulhof If you are able to reproduce kindly reopen.

[2016-05-23 13:45] #7272 closed

[2016-05-23 13:49] #7192 closed

[2016-05-23 13:58] lastboy commented on #7241
Haha... After 2 years... You came back with your answer. Hmmm you are agile alright.

[2016-05-23 15:36] #7502 closed

[2016-05-23 15:42] #7503 closed

[2016-05-23 15:44] #6440 closed

[2016-05-23 17:11] apsdehal commented on #7066
Fixed in 1.5-dev.

[2016-05-23 17:11] #7066 closed

[2016-05-23 17:12] apsdehal opened #8434 "Pagecontainer: Remove reloadPage option."

[2016-05-23 17:24] apsdehal commented on #7036
You can use `.off` function to unregister the events on the element. Also as mentioned on http://api.jquerymobile.com/panel/#option-dismissible dismissible is specifically about clicking so we can't really not register the events you mentioned. Though, I will pick up this issue in this week's meeting. Closing as of now.

[2016-05-23 17:32] apsdehal commented on #7245
Not able to reproduce on 1.5

[2016-05-23 17:32] #7245 closed

[2016-05-23 17:39] apsdehal commented on #7199
Fixed in 1.5.

[2016-05-23 17:39] #7199 closed

[2016-05-23 17:48] apsdehal commented on #7631
Working as expected.

[2016-05-23 17:48] #7631 closed

[2016-05-23 17:58] apsdehal commented on #7475
Not able to reproduce anymore. Closing.

[2016-05-23 17:58] #7475 closed

[2016-05-24 18:01] bassena commented on #8381
How far are we away from jQM 1.5?

[2016-05-25 17:32] apsdehal commented on #6209
Working fine with latest jqm and latest iOS on iPhone.

[2016-05-25 17:32] #6209 closed

[2016-05-25 17:40] apsdehal commented on #5861
No longer an issue with iOS version >= 7, below which we don't support anymore. Closing.

[2016-05-25 17:40] #5861 closed

[2016-05-25 17:46] apsdehal commented on #7326
No longer an issue it seems, @gabrielschulhof if you are able to reproduce kindly reopen.

[2016-05-25 17:46] #7326 closed

[2016-05-25 17:48] apsdehal commented on #7364
Not able to reproduce in latest firefox using the given fiddle. Works as expected.

[2016-05-25 17:48] #7364 closed

[2016-05-25 17:55] apsdehal commented on #8416
Kindly use SO or #jqueryui for implementation related questions. Demo as I see is working fine as expected.

[2016-05-25 17:55] #8416 closed

[2016-05-25 17:56] apsdehal commented on #8381
@bassena We are very close. We are working API docs and upgrade guide at the moment.

[2016-05-25 17:58] apsdehal commented on #8362
Collapsible is deprecated, kindly use accordion, if the issue persists kindly open an issue with ui.

[2016-05-25 17:58] #8362 closed

[2016-05-25 18:00] apsdehal commented on #8353
Kindly provide a fiddle for use. See contributing guidelines for the same and reopen the issue.

[2016-05-25 18:00] #8353 closed

[2016-05-25 18:06] bassena commented on #8381
Glad to hear!

[2016-05-25 18:12] apsdehal commented on #8334
Confirmed, for now you can manually remove ui icon class and add other one for workaround.

[2016-05-25 18:20] apsdehal commented on #8259
Kindly use the template and reopen.

[2016-05-25 18:20] #8259 closed

[2016-05-25 18:20] apsdehal commented on #8258
Kindly use the template and reopen.

[2016-05-25 18:20] #8258 closed

[2016-05-25 18:21] #8200 closed

[2016-05-25 18:23] apsdehal commented on #8314
Closing as solved.

[2016-05-25 18:23] #8314 closed

[2016-05-25 18:32] vaso123 commented on #8200
Thank you for your time and for your job. Open source, and such an enthusiastic like you are move the world something better towards.

[2016-05-25 18:44] apsdehal commented on #8200
@vaso123 :)

[2016-05-25 18:59] apsdehal commented on #7529
Not an issue with latest jqm, if persists, kindly reopen.

[2016-05-25 18:59] #7529 closed

[2016-05-26 18:43] arschmitz commented on #7036
This should be fixed

[2016-05-31 13:24] CrimsonLabs commented on #8429
Just experienced this issue as well. Installed Chrome Beta from android app store, and disabled Google Chrome, and the problem is no longer there. Definitely looks like a Google Issue.

[2016-06-01 11:10] ankush86 commented on #8429
Experienced this issue on my application as well. It really frustrating. Works fine with older version of chrome but not for update Chrome version 50+.

Any idea when get this issue resolved  ? Or Suggestion to fix this issue.

Thanks

[2016-06-01 11:24] CrimsonLabs commented on #8429
Sadly Google Beta updated this morning, now having the same issue there.

[2016-06-01 12:34] SteveUnger commented on #8429
Now working with chrome 51.0.2704.77 on android 6.0.1 (Galaxy S6) and the problem is solved.

[2016-06-02 01:24] apsdehal commented on #7969
Fixed in 1.5.

[2016-06-02 01:24] #7969 closed

[2016-06-02 01:26] apsdehal commented on #8351
Please provide a fiddle as per contributing guidelines and reopen the issue.

[2016-06-02 01:26] #8351 closed

[2016-06-02 01:32] apsdehal commented on #8117
Fixed in 1.5.

[2016-06-02 01:32] #8117 closed

[2016-06-02 01:54] apsdehal commented on #8120
Kindly provide a fiddle for easy testing of the bug according to contribution guidelines and reopen the issue.

[2016-06-02 01:54] #8120 closed

[2016-06-02 01:56] #8186 closed

[2016-06-02 02:07] apsdehal commented on #7936
Kindly provide a jsbin according to contribution guidelines and reopen the issue.

[2016-06-02 02:07] #7936 closed

[2016-06-02 06:53] apsdehal commented on #6671
Closing `$.mobile.path.isEmbeddedPage` is used at many other place than this one, so it may introduce bugs by considering this change.

[2016-06-02 06:53] #6671 closed

[2016-06-02 07:26] apsdehal commented on #8011
Closing in the favor of #8303, this will be fixed alongside it.

[2016-06-02 07:26] #8011 closed

[2016-06-02 10:49] CrimsonLabs commented on #8429
For anyone still battling with this, put the following code after your selectmenu has been created

[code]

[2016-06-02 15:57] jdc20181 opened #8435 "ISSUE: Collapsables not fitting to page (too small read details)"
I have had this issue for some time, tried everything in the book, and Google Page Insights says I don't have ViewPort set but I have always had it, anyways- The collapsables are tiny, like they don't fill to the page like they should.

Does anyone have a idea on how to fix this?

The Live Site is here: http://beffsmightcalculator.tk  please note it is a "Url forwarding" to my github pages, for th

[2016-06-02 20:00] arschmitz commented on #8435
@jdc20181 i cant reproduce your issue the collapsibles are full width for me on all the devices i tried. If you are still facing this problem please create a simple jsbin test page so we can lookinto and debug this issue.

I'm going to close this until then

[2016-06-02 20:00] #8435 closed

[2016-06-02 20:03] jdc20181 commented on #8435
look here: https://www.google.com/webmasters/tools/mobile-friendly/?url=beffsmightcalculator.tk

see? It is being a pest....

[2016-06-03 08:52] faabalia commented on #8429
I have tried this and not worked for me.

[2016-06-03 08:53] faabalia commented on #8429
The only way work for me is like SteveUnger says.

[2016-06-03 08:55] CrimsonLabs commented on #8429
This must be called after you have created the select with jQuery Mobile

[2016-06-04 08:36] vivekbhushantiwari commented on #8429
Hi Clint,

Your answer is working perfectly. We can add below workaround to resolve that keyboard focus issue. Below function can be called from any radio/checkbox/button/ selectbox click
        /**
	*Method name : _setFocus
	*@me : reference object to which focus needs to be assigned (eg. $(this))
	**/
	function _setFocus(me){
		try{
			me.focus();
			console.log($(":focus"));
		}catch(e){
		}

[2016-06-05 14:08] apsdehal commented on #8310
Kindly read the CONTRIBUTING.md and provide a jsbin. Reopen then.

[2016-06-05 14:08] #8310 closed

[2016-06-05 14:34] apsdehal commented on #8399
Closing due to no activity.

[2016-06-05 14:34] #8399 closed

[2016-06-05 14:38] apsdehal commented on #8139
Not able to reproduce. Closing.

[2016-06-05 14:38] #8139 closed

[2016-06-05 15:01] apsdehal commented on #7125
Not able to reproduce as of now. Closing. Reopen if the issue persists.

[2016-06-05 15:01] #7125 closed

[2016-06-05 15:02] apsdehal commented on #8296
Please provide a jsbin and reopen.

[2016-06-05 15:02] #8296 closed

[2016-06-05 15:14] apsdehal commented on #8163
Works fine with latest jqm. Closing as not able to reproduce.
![bs_realdroid_mobile_samsung galaxy s6-5 0-1440x2560](https://cloud.githubusercontent.com/assets/3616806/15806318/3429bc2e-2b5e-11e6-8fa6-66a3829a9c45.jpg)

[2016-06-05 15:31] #7445 closed

[2016-06-05 15:56] apsdehal commented on #8140
Confirmed on 1.5-dev.

[2016-06-05 18:24] apsdehal commented on #8393
Closing as not fixable for now!

[2016-06-05 18:24] #8393 closed

[2016-06-05 18:26] apsdehal commented on #8398
Kindly provide a jsbin and reopen the issue. See CONTRIBUTING.md

[2016-06-05 18:26] #8398 closed

[2016-06-05 18:31] apsdehal commented on #8382
Closing as not relevant anymore. Use accordion and file any issues with ui.

[2016-06-05 18:31] #8382 closed

[2016-06-05 18:35] apsdehal commented on #8288
Closing, I find the latest version of app and jsbin template working fine.

[2016-06-05 18:35] #8288 closed

[2016-06-05 18:45] apsdehal commented on #8126
Closing due to missing jsbin. Reopen with that.

[2016-06-05 18:45] #8126 closed

[2016-06-05 18:49] apsdehal commented on #8039
I see that this issue has been fixed. Closing.
![image](https://cloud.githubusercontent.com/assets/3616806/15807453/4feb2858-2b7c-11e6-8cf8-3316638624f5.png)

[2016-06-05 18:49] #8039 closed

[2016-06-06 07:27] apsdehal commented on #8128
Closing, as not directly related to source code repository of jQuery Mobile. Maybe a better place to open is api repo or learn repo, but not here.

[2016-06-06 07:27] #8128 closed

[2016-06-06 07:28] #7982 closed

[2016-06-06 07:29] apsdehal commented on #7937
Linked with #8334. This can be fixed with refresh. So closing as a preference to it.

[2016-06-06 07:29] #7937 closed

[2016-06-06 07:51] tmarplatt commented on #8381
While we wait for 1.5 (or 1.4.6), is there a known workaround for this issue? Other than downgrading jQuery, that is.

[2016-06-06 13:32] apsdehal commented on #6713
Closing not able to reproduce anymore with 1.5.

[2016-06-06 13:32] #6713 closed

[2016-06-06 13:33] apsdehal commented on #6766
Closing not able to reproduce with 1.5.

[2016-06-06 13:33] #6766 closed

[2016-06-06 18:30] apsdehal commented on #6513
This has been fixed in 1.5-dev. http://jsbin.com/velunekeqa/2

[2016-06-06 18:30] #6513 closed

[2016-06-06 18:32] #6461 closed

[2016-06-06 18:36] apsdehal commented on #6025
Closing I can no longer reproduce the issue.

[2016-06-06 18:36] #6025 closed

[2016-06-06 18:40] apsdehal commented on #6021
Working fine for with 1.5-dev.

[2016-06-06 18:40] #6021 closed

[2016-06-06 19:08] #7465 closed

[2016-06-06 19:16] apsdehal commented on #8319
Closing because of no activity.

[2016-06-06 19:16] #8319 closed

[2016-06-06 19:17] apsdehal commented on #7678
Closing as no activity and not really a JQM bug.

[2016-06-06 19:17] #7678 closed

[2016-06-06 19:21] apsdehal commented on #7884
Not relevant anymore.

[2016-06-06 19:21] #7884 closed

[2016-06-06 19:22] #8295 closed

[2016-06-06 19:26] #7829 closed

[2016-06-06 19:30] apsdehal commented on #7120
Closing in favor of #7570.

[2016-06-06 19:30] #7120 closed

[2016-06-06 19:31] apsdehal commented on #7740
Closing as not fixable.

[2016-06-06 19:31] #7740 closed

[2016-06-06 19:32] #7940 closed

[2016-06-07 14:47] apsdehal commented on #8304
I have discussed this with team and it require a lot of changes as of now. It would be better to use for https://github.com/jaredhanson/deamdify for unique usecases which require commonjs export.

[2016-06-07 14:47] #8304 closed

[2016-06-07 15:22] apsdehal opened #8439 "Listview: large item count bubble overlaps caret."
http://jsbin.com/mijeju/6/edit?html,output

[2016-06-09 18:35] gabrielschulhof commented on #8334
* [ ] Add method ```updateItems()``` with optional collection which does sparing ```refresh()``` if the collection is not given and restricts itself to the collection if it is given.
* [ ] Change ```refresh()``` to agressively update all items and deprecate sparing ```refresh()```

[2016-06-09 21:36] Alfred-Lu commented on #8289
+1
Any fix for this?

[2016-06-12 05:23] #7867 closed

[2016-06-12 05:26] #8434 closed

[2016-06-12 05:30] #8142 closed

[2016-06-12 05:43] #7509 closed

[2016-06-13 17:06] apsdehal opened #8441 "Build: Update phantomjs version"

[2016-06-13 17:14] #8441 closed

[2016-06-15 15:59] apsdehal commented on #8271
Closing as fixed and landed in 1.5-dev.

[2016-06-15 15:59] #8271 closed

[2016-06-15 17:39] apsdehal commented on #8125
Deprecated in 1.5. Use classes options now.

[2016-06-15 17:39] #8125 closed

[2016-06-15 18:01] Tormand opened #8444 "Javascript alert() not working on my jQuery Mobile app after pressing back button on Safari 9"
I created this app for a class and noticed some strange behavior when I tested it on my iPhone, which uses Safari 9. On Firefox(desktop), Chrome(desktop), and Safari 8(mobile), this problem doesn't happen.

Here is the jsbin, using the predefined template: Edit: Here's a persistent jsbin; didn't realize they disappeared: http://jsbin.com/tahepi/edit?html,js,output

As you can see, giving incorrect

[2016-06-15 18:12] apsdehal commented on #8444
@Tormand I tried your Bin on Safari 9, but I am not able to reproduce your issue. Alert seems to working fine for me when I follow the steps you wrote. It would be good if you can check again.

[2016-06-15 18:16] apsdehal commented on #8064
Not able to reproduce on Safari 9 on iOS.

[2016-06-15 18:16] #8064 closed

[2016-06-15 18:24] Tormand commented on #8444
I just tried it on my iPad which is running iOS 9.3.2. On entering the page, if I leave the input field blank and press "convert," I get an alert for incorrect input. But if I click Page 2, then click the browser's back arrow, and once again press "convert," with the field still empty, I do not get an alert. Nor do I get an alert if I enter a negative number of a letter. However, if I do put a pos

[2016-06-15 18:33] #8057 closed

[2016-06-15 18:41] apsdehal commented on #7976
Closing as I am not able to reproduce this.

[2016-06-15 18:41] #7976 closed

[2016-06-16 09:25] apsdehal commented on #8133
Closing as I am not able to reproduce on latest chrome with 1.4.5 demos. If problem persists, reopen.

[2016-06-16 09:25] #8133 closed

[2016-06-16 09:48] apsdehal commented on #7910
I find it working fine in 1.5-dev. Closing.

[2016-06-16 09:48] #7910 closed

[2016-06-16 09:58] apsdehal commented on #8050
Closing as fixed on 1.5-dev.

[2016-06-16 09:58] #8050 closed

[2016-06-16 10:00] apsdehal commented on #8041
Closing as duplicate.

[2016-06-16 10:00] #8041 closed

[2016-06-16 10:06] #7900 closed

[2016-06-16 10:22] apsdehal commented on #7855
Closing as not an issue with jqm.

[2016-06-16 10:22] #7855 closed

[2016-06-16 10:25] apsdehal commented on #7684
Closing as a duplicate and not reproducable on 1.5-dev.

[2016-06-16 10:25] #7684 closed

[2016-06-16 10:25] #7789 closed

[2016-06-16 13:51] apsdehal commented on #8413
I can confirm the issue.

[2016-06-16 14:28] apsdehal commented on #8305
Closing as no activity from issue poster for a long time.

[2016-06-16 14:28] #8305 closed

[2016-06-16 14:30] apsdehal commented on #7851
Closing due to missing components on issue poster's side.

[2016-06-16 14:30] #7851 closed

[2016-06-16 14:49] apsdehal commented on #7722
Not able to reproduce any longer with 1.4.5, working as expected. Closing.

[2016-06-16 14:49] #7722 closed

[2016-06-16 15:24] apsdehal commented on #7654
Not able to reproduce it anymore with latest jqm, if issue persists kindly reopen.

[2016-06-16 15:24] #7654 closed

[2016-06-16 15:48] #7957 closed

[2016-06-17 08:34] Tormand commented on #8444
Here is an exceedingly simple example. Just a few lines of code: http://jsbin.com/yebado

I just tried it on my iPhone, with iOS 9.3.2.

1. Click button, see alert.
2. Click "Page Two" to go to second page.
3. Click the back button on the mobile browser.
4. Press the button again. No alert.

Let me know if you can replicate this issue. Again, I assume it's a Jquery Mobile Issue but I could be wron

[2016-06-17 10:46] Klippers commented on #8200
Hi,

I'm having a similar problem where my app jumps back to the top of the page when data has been pulled from database, and so a refresh is being initiated I presume.

If this fixes it, how would I go about getting it? I'm using the min.js, and have no idea how to implement this fix in my already existing library version.

[2016-06-17 13:01] Tormand commented on #8444
I have discovered that this behavior occurs on the site regardless of whether jQuery mobile is included in the header. But it only happens when "data-role: page" is used.

[2016-06-17 13:01] #8444 closed

[2016-06-20 09:44] apsdehal commented on #8413
So I have discussed this with team and custom filterable selectmenu doesn't allow multiple. And since we plan to shift to UI selectmenu, I am going to close this issue. You can fix the select without multiple by removing the multiple attribute.

[2016-06-20 09:44] #8413 closed

[2016-06-20 10:06] apsdehal commented on #7815
Not able to reproduce anymore, also since user agent css properties are being added, this is not directly related to jqm.

[2016-06-20 10:06] #7815 closed

[2016-06-20 10:12] apsdehal commented on #7786
not able to reproduce.

[2016-06-20 10:12] #7786 closed

[2016-06-20 10:13] #6913 closed

[2016-06-20 10:15] #6694 closed

[2016-06-20 19:05] apsdehal commented on #8385
This should be working in 1.5, as we use `_themeElements` function now to get and apply themes. And method of changing themes would not be like this anymore. Refer widget.theme.js for more info.

[2016-06-20 19:05] #8385 closed

[2016-06-20 19:17] apsdehal commented on #3956
I have tested this iOS 8, which is the minimum version we support now with version 1.5 and this appears no longer to be an issue. Closing accordingly.
![bs_realios_mobile_iphone 6-8 0](https://cloud.githubusercontent.com/assets/3616806/16207210/8fc14196-3749-11e6-9249-062c17cec405.jpg)

[2016-06-20 19:17] #3956 closed

[2016-06-20 19:32] apsdehal commented on #6392
Closing as tabs issue should be opened with ui.

[2016-06-20 19:44] apsdehal commented on #7873
@agcolom Are you still willing to fix the api docs? If not, I will take the charge.

[2016-06-20 19:51] arschmitz commented on #6392
this is a issue with mobile i believe it works properly in ui.

[2016-06-21 13:15] apsdehal commented on #7607
This feature is specifically a part of navigation which in case of non ajax requests add ui-btn-active class to aid the user from not clicking twice on the link. Rest in the case when ajaxEnabled is false or form is nonAjax it behaves like a normal button should, you can refer to examples of bootstrap, ui and normal button.

[2016-06-21 13:15] #7607 closed

[2016-06-21 19:40] apsdehal commented on #8140
First, there is no reverse option for data-transition and also http://api.jquerymobile.com/data-attribute/ mentions specifically that data-direction reverse is not supported on popup.

[2016-06-21 19:40] #8140 closed

[2016-06-21 19:42] apsdehal opened #8450 "Demos: Update transition demos to mention data-direction uses"
data-direction doesn't work on popup, this should be mentioned.

[2016-06-22 04:58] apsdehal commented on #7911
Kindly consult the docs at https://api.jquerymobile.com/swipe/ for swipe stop event handler.

[2016-06-22 04:58] #7911 closed

[2016-06-22 05:08] apsdehal commented on #7593
This is fixed and no longer an issue. Closing.

[2016-06-22 05:08] #7593 closed

[2016-06-22 05:15] apsdehal commented on #7583
Fixed in 1.5.

[2016-06-22 05:15] #7583 closed

[2016-06-22 05:16] apsdehal commented on #7433
Closing as no active discussion on the implementation.

[2016-06-22 05:16] #7433 closed

[2016-06-22 17:08] apsdehal commented on #8131
Not enough context available to reproduce the issue. A jsbin would be great, closing till then.

[2016-06-22 17:08] #8131 closed

[2016-06-22 17:14] apsdehal commented on #8262
This issue occured when iOS changed hashlistening events' behavior in iOS 9 but this change was soon reverted. See first comment at https://openradar.appspot.com/22186109. This has been fixed.

[2016-06-22 17:14] #8262 closed

[2016-06-22 17:17] apsdehal commented on #8293
This was an issue with iOS 9 when they changed hash events working in WebView, see first comment at https://openradar.appspot.com/22186109. This change has been reverted and fixed.

[2016-06-22 17:17] #8293 closed

[2016-06-22 18:24] arschmitz commented on #8336
This was published http://blog.jquerymobile.com/2016/01/28/a-long-overdue-status-update/ an alpha will be out very soon waiting on one last pr to finish up

[2016-06-22 18:24] #8336 closed

[2016-06-22 19:21] apsdehal commented on #8331
The issue seems to be with listview instead of filterable, as the demo above filterReveal is also doesn't have any input. If filterReveal was not working it should also not work in case of search in navigation.

[2016-06-22 19:24] apsdehal commented on #8331
Discuss with arschmitz I got to know data-role="listview" is deprecated now. We need to update demos accordingly, Changing heading of the issue

[2016-06-22 19:25] arschmitz commented on #8331
@apsdehal not quite

istview is not deprecated the list view auto filter functionality from 1.3 is in 1.4 we introduced the filter widget to replace it which no longer auto generates the input

[2016-06-22 19:27] apsdehal commented on #8331
Thanks. I actually meant: data-role="listview" is deprecated with a filterable.

[2016-06-22 19:29] apsdehal commented on #8331
Oh again wrong :p . Only autofilter is deprecated.

[2016-06-22 20:02] arschmitz commented on #8439
I think we should switch the count and carat locations
http://jsbin.com/zuqugi/1/edit?html,css,output

[2016-06-23 04:53] apsdehal commented on #5246
Landed in 1.5-dev.

[2016-06-23 04:53] #5246 closed

[2016-06-23 04:55] apsdehal commented on #8127
Fixed in 1.5-dev.

[2016-06-23 04:55] #8127 closed

[2016-06-23 04:57] apsdehal commented on #6531
Fixed in 1.5-dev.

[2016-06-23 04:57] #6531 closed

[2016-06-23 05:28] #3958 closed

[2016-06-23 05:30] #8260 closed

[2016-06-23 05:58] #8250 closed

[2016-06-23 06:00] #6692 closed

[2016-06-23 06:02] #7387 closed

[2016-06-23 06:03] #8252 closed

[2016-06-23 06:05] #8331 closed

[2016-06-23 06:07] #8450 closed

[2016-06-23 18:34] jaspermdegroot commented on #8246
We are going to add a Grunt task for this and remove the vendor prefixes from the CSS files.

[2016-06-23 22:45] arschmitz commented on #7731
This was landed in 1.5-dev

[2016-06-23 22:45] #7731 closed

[2016-06-23 22:45] arschmitz commented on #7360
Yes this was landed in 1.5-dev

[2016-06-23 22:45] #7360 closed

[2016-06-24 04:41] #8183 closed

[2016-06-24 04:42] #6295 closed

[2016-06-24 05:26] apsdehal commented on #7203
Fixed in 1.5-dev.

[2016-06-24 05:26] #7203 closed

[2016-06-24 06:18] apsdehal opened #8457 "Build: Downgrade grunt-html as travis doesn't support Java 1.8"

[2016-06-24 15:26] gabrielschulhof commented on #8355
Yeah, there was an issue with Cordova on Windows, but I don't remember if it made it into 1.4.x or not.

[2016-06-24 15:29] gabrielschulhof commented on #8355
https://github.com/jquery/jquery-mobile/issues/6574

[2016-06-24 16:04] apsdehal commented on #8355
I can reproduce the issue still with latest 1.5-dev, I don't think it is fixed yet.

[2016-06-25 03:45] gabrielschulhof commented on #8355
The original problem I think was that the res protocol has no absolute path. That is, it looks like this:
[code]
And so it's hard to correctly identify the path, because ```/``` is assumed to follow the protocol to indicate an absolute path.

[2016-06-25 03:49] gabrielschulhof commented on #8355
Is it possible that there's a regression in Cordova?

[2016-06-25 13:31] #8457 closed

[2016-06-25 13:38] frankie-loves-jesus commented on #8359
Creating a reduced test case is the best way to debug problems and report issues. Read http://css-tricks.com/reduced-test-cases/ on why they’re so great.

- A reduced test case clearly demonstrates the bug or issue
- It contains the bare minimum HTML, CSS, and JavaScript required to demonstrate the bug
- A link to your production site is not a reduced test case

Creating a reduced test case is the

[2016-06-25 13:43] apsdehal commented on #8301
I am not able to reproduce on windows 8.1 emulator using 1.5-dev. See the attached screenshot. Closing. http://view.jquerymobile.com/1.5-dev/demos/popup/
![image](https://cloud.githubusercontent.com/assets/3616806/16357037/c6d736aa-3b08-11e6-8703-7ac2ec98f0ff.png)

[2016-06-25 13:43] #8301 closed

[2016-06-25 14:07] apsdehal commented on #8240
As selectmenu has merged in 1.5-dev, I can confirm this has been fixed.
![image](https://cloud.githubusercontent.com/assets/3616806/16357151/3511f56c-3b0c-11e6-80d2-a5d4374a6212.png)
Updated bin: http://output.jsbin.com/kiremu/1

[2016-06-25 14:07] #8240 closed

[2016-06-25 14:17] apsdehal commented on #8429
I have tested on Chrome version 50.0.2661.89 using 1.5-dev http://view.jquerymobile.com/1.5-dev/demos/selectmenu/ and can confirm it is fixed.

[2016-06-25 14:17] #8429 closed

[2016-06-25 14:23] #6646 closed

[2016-06-25 14:56] apsdehal commented on #6455
no more an issue, works fine in 1.5-dev.

[2016-06-25 14:56] #6455 closed

[2016-06-25 15:01] apsdehal commented on #5764
This seems to be fixed now.

[2016-06-25 15:01] #5764 closed

[2016-06-25 16:06] gabrielschulhof commented on #8355
@apsdehal can you please detail the steps you used to reproduce it with 1.5-dev?

[2016-06-25 17:42] apsdehal commented on #8355
@gabrielschulhof I reproduce it with URI given in the issue description, though I am not sure if this URI is correct. Can you confirm this?
`$.mobile.path.makeUrlAbsolute("#two", "res://device:\\directory\\file.exe/resource.html")`

[2016-06-25 18:39] apsdehal commented on #5563
@gabrielschulhof It would be great if you can add a description and expected results to this issue.

[2016-06-27 10:35] nsteenbeek commented on #8359
We decided to extract JQM from our Software Product. Since It seems I'm the only one havingthis problem, it may be due to my configuration. So, let's close this issue.

[2016-06-27 10:35] #8359 closed

[2016-06-27 18:07] apsdehal commented on #6934
This is a very old issue and I justed tested in Cordova and performance is satisfactory.

[2016-06-27 18:07] #6934 closed

[2016-06-27 18:17] #5002 closed

[2016-06-27 18:21] apsdehal commented on #5487
I am closing this as super old and not being able to reproduce with latest 1.5-dev.

[2016-06-27 18:21] #5487 closed

[2016-06-27 18:29] apsdehal commented on #7873
I am closing this for now, but I will add this to TODO for docs.

[2016-06-27 18:29] #7873 closed

[2016-06-27 18:41] apsdehal commented on #7576
This is subpart of #6574. Closing in favor of it.

[2016-06-27 18:41] #7576 closed

[2016-06-28 05:20] apsdehal opened #8465 "Button: Inherit theme should be applied in case no theme is specified"
Currently it applies `ui-button-null` class to button when it should `ui-button-inherit`

[2016-06-28 11:44] #6990 closed

[2016-06-30 13:21] #7407 closed

[2016-06-30 13:23] #8439 closed

[2016-06-30 13:25] #7098 closed

[2016-06-30 13:27] #8465 closed

[2016-06-30 13:40] apsdehal commented on #7756
I am unable to reproduce this anymore. Closing with 1.5-dev.

[2016-06-30 13:40] #7756 closed

[2016-06-30 14:08] apsdehal opened #8472 "Demos: Remove selectmenu custom filter"

[2016-06-30 14:11] #8472 closed

[2016-06-30 14:13] #7385 closed

[2016-06-30 17:36] apsdehal opened #8473 "Columntoggle: Tests are failing after button theme update."

[2016-06-30 17:53] #6682 closed

[2016-06-30 18:15] #4113 closed

[2016-06-30 18:19] apsdehal opened #8475 "Docs: Specify the intended use along the api"
#7873

[2016-06-30 18:33] apsdehal commented on #7682
Closing due to missing version.

[2016-06-30 18:33] #7682 closed

[2016-07-01 05:10] #8473 closed

[2016-07-01 23:31] dpolivy commented on #8163
Please re-open this, it still repros. I just confirmed the problem with the latest demos using a device with 5.0.2. I was missing a step in the repros -- after tapping in the field, type a character. You will then see it reproduce.

Here's a video from a Galaxy S6 Edge running Android 5.0.2.

![07-01-2016 16h23m44s](https://cloud.githubusercontent.com/assets/3200655/16536622/fb719c94-3fa8-11e6-831

[2016-07-02 01:58] arschmitz commented on #8163
@dpolivy thank you

[2016-07-03 15:50] teo1978 opened #8478 "Custom download builder shoud include a comment listing the included components"
Use case:
- I downloaded a custom build of jquery.mobile years ago using http://jquerymobile.com/download-builder/ including only some of the components.
- now I want to update it to the latest version

=> now I have no easy way of knowing which components I had included in the original download.

The download builder should add a comment at the beginning of the generated file listing the componen

[2016-07-04 21:22] #7161 closed

[2016-07-04 21:22] #7935 closed

[2016-07-04 21:27] arschmitz commented on #8478
We are in the process of switching to share the UI builder. This is also not the repo for the download builder see https://github.com/gseguin/node-amd-builder for the current builder.

[2016-07-04 21:27] #8478 closed

[2016-07-04 21:27] arschmitz commented on #8478
FWIW i agree with you which is a part of why we are switching

[2016-07-05 21:42] bbesseling commented on #8355
yes, that is the URL from the original problem submission.

[2016-07-06 03:24] Bmint910 commented on #8264
I had a problem with a button disappearing/flickering on scroll transition and this seems to have fixed it after trying other things that that didn't work...

 -webkit-transform: translateZ(0);
  z-index: 1000;

source: https://stackoverflow.com/questions/11258877/fixed-element-disappears-in-chrome

[2016-07-06 21:37] thenewguy opened #8481 "Document that page domCache cannot be changed dynamically"
I've been struggling to figure out why my pages are not being cached when I dynamically set the domCache option to true before opening an external dialog page.  The intention is to let the backwards navigation be quick and not require an ajax page fetch.

It appears that this is an intentional design decision per https://github.com/jquery/jquery-mobile/issues/6575 but the docs still indicate that

[2016-07-07 16:54] apsdehal commented on #8163
@dpolivy Can you try this on http://view.jquerymobile.com/master/demos/popup/ because I just Galaxy S6 on browserstack with this url and wasn't able to reproduce the issue. The above link is the latest jqm.

[2016-07-07 17:41] apsdehal commented on #7831
Issue with docs. Closing here. We will keep track of this in api repo.

[2016-07-07 17:41] #7831 closed

[2016-07-07 17:52] #5563 closed

[2016-07-07 18:03] dpolivy commented on #8163
@apsdehal I just tried it on the same device as above, and it does appear to be working properly with the link you provided. Previously, when it reproed, I was using the latest public demo link which I believe went to 1.4.5.

So, if this is fixed in the latest release, what's the ETA for availability? Or is there a fix that can be backported to the 1.4.x branch?

[2016-07-07 18:24] apsdehal commented on #8163
Yes, it will be available in couple of weeks, but docs aren't ready yet and demos are not updated according to latest api. You can always build the source yourself. Closing the issue for now.

[2016-07-07 18:24] #8163 closed

[2016-07-07 18:41] #5987 closed

[2016-07-07 18:45] #5684 closed

[2016-07-07 18:51] apsdehal commented on #8475
Opened in API repo.

[2016-07-07 18:51] #8475 closed

[2016-07-07 18:52] apsdehal commented on #8327
Closing due to inactivity.

[2016-07-07 18:52] #8327 closed

[2016-07-07 18:55] apsdehal commented on #4259
No longer supported.

[2016-07-07 18:55] #4259 closed

[2016-07-07 18:56] #4845 closed

[2016-07-07 18:58] apsdehal commented on #6673
No longer an issue with latest master.

[2016-07-07 18:58] #6673 closed

[2016-07-07 19:00] apsdehal commented on #5941
Closing as not able to reproduce with latest master.

[2016-07-07 19:00] #5941 closed

[2016-07-07 20:49] arschmitz commented on #8163
@dpolivy the alpha release is dont execpt for a few things like writing the changelog and blog post it should only be a week or 2

[2016-07-11 17:32] apsdehal commented on #8337
Interestingly enough, this happens only when `type="search"` is applied. It works fine for all other input types.

[2016-07-11 22:31] arschmitz commented on #8337
@apsdehal that actually makes sense. `degradeInputs` will replace any `type=search` with a `type=text`

[2016-07-21 20:20] devshisiyani opened #8484 "migration to jQuery 3.1.0 using jquery mobile Version 1.4.5"
Will jquery mobile Version 1.4.5 work with the latest jQuery 3.1.0.
Has anyone done the migration yet.

[2016-07-21 21:00] arschmitz commented on #8484
1.4.5 should work with jQuery Migrate

[2016-07-22 06:43] jaspermdegroot commented on #8484
Closing since it's a question, not a bug, and it has been answered.

[2016-07-22 06:43] #8484 closed

[2016-07-25 05:48] apsdehal opened #8486 "Controlgroup: Remove "shadow" option"
As we are not adding any logic on the basis of shadow option we should remove it.

[2016-07-25 05:59] apsdehal commented on #8486
Just checked that it is present in widget.backcompat. Closing.

[2016-07-25 05:59] #8486 closed

[2016-07-25 08:39] jaspermdegroot opened #8487 "Drop Grunticon PNG fallback for icons"
jQuery Mobile 1.5 will no longer support IE8 which means SVG icons will work in all supported browsers and we can drop the PNG fallback for icons.

[2016-08-01 15:27] arschmitz opened #8490 "Remove refrences to UI core"
jQuery ui core has been broken down into individual modules so we should remove all references and reference just the bits we use

[2016-08-01 15:27] arschmitz commented on #8490
closed by 5a84fb0

[2016-08-01 15:27] #8490 closed

[2016-08-01 15:30] arschmitz opened #8491 "Remove links and nojs files and references to them"
The functionality in these is deprecated and moved into enhancer backcompat

[2016-08-01 15:30] arschmitz commented on #8491
closed by 4b3adc7

[2016-08-01 15:58] #8491 closed

[2016-08-04 07:32] gabrielschulhof opened #8492 "Demos: Remove references to iconshadow"
[code]

[2016-08-04 17:31] jaspermdegroot opened #8493 "controlgroup.selectmenu.js"
In controlgroup.selectmenu.js a class of `ui-button-inline` is added to select widgets inside a controlgroup. However, only the first and last item in the group seem to get the class.
Besides that, the controlgroup CSS is based on the `ui-controlgroup-item` class so it seems better to add that class to all select widgets inside the group.

See http://view.jquerymobile.com/master/demos/selectmenu/

[2016-08-05 05:44] sawan619 opened #8496 "Jquery mobile"
i want to load another page in same page with having all the function of current page.
for example i have page1 which have "nav bar" "panel" , now what i want is next page should get load but only content gets change.not the whole page .

[2016-08-05 05:51] jaspermdegroot commented on #8496
@sawan619

This issue tracker is meant for reporting bugs. For questions you can use the [jQuery Mobile forum](https://forum.jquery.com/jquery-mobile). See also our [contributing guidelines](https://github.com/jquery/jquery-mobile/blob/master/CONTRIBUTING.md#issues).

Closing as not a bug.

[2016-08-05 05:51] #8496 closed

[2016-08-06 09:49] Chez commented on #8381
Still no news? For developers that need more than 1.4.5 offers, we are in limbo - drop jqm or wait and see, either way it could cost us dearly.

[2016-08-06 11:47] arschmitz commented on #8381
1.5-alpha1 is complete and we are just working on the accompanying documentation. If you want to try this out you can get the `git` version from our CDN or use the download builder on the master branch.

[2016-08-07 07:41] Chez commented on #8381
Ok, that is good news. One question, does 1.5 have right to left (rtl) ability? We use a customized version of 1.4.5 js and css files for our rtl version.

[2016-08-11 17:55] #8334 closed

[2016-08-19 21:28] JasonGlez commented on #8262
Or use
if(device.platform === "iOS" && parseInt(device.version) === 9){
   $.mobile.hashListeningEnabled = false;
}

[2016-08-19 22:46] Cecuray opened #8497 "Error download themeroller help me !!!!"
Theme roller not working.
Download theme not working.

Thanks

[2016-08-20 07:12] jaspermdegroot commented on #8497
Closing as duplicate of https://github.com/jquery/themeroller.jquerymobile.com/issues/230

[2016-08-20 07:12] #8497 closed

[2016-08-22 11:32] nnamdy2 commented on #8284
Hello,
Unfortunately this issue has re-occurred as at today Aug 22, 2016. Please check and fix.
Thanks.

[2016-08-22 11:37] nnamdy2 opened #8498 "Zip Download for Themeroller stopped working today Aug 22, 2016"
Hello,
Just to report that Zip Download for Themeroller stopped working today Aug 22, 2016.
Anybody to help check and possibly fix this?
Thanks in advance.
Nd

[2016-08-22 11:38] jaspermdegroot commented on #8284
@nnamdy2 - We are aware of it. See https://github.com/jquery/themeroller.jquerymobile.com/issues/230

[2016-08-22 11:39] jaspermdegroot commented on #8498
Closing as duplicate of https://github.com/jquery/themeroller.jquerymobile.com/issues/230

[2016-08-22 11:39] #8498 closed

[2016-08-22 19:06] karenbennett opened #8499 "Duplicate id in slider tooltip demo"
There are 4 sliders demonstrated in http://demos.jquerymobile.com/1.4.5/slider-tooltip/

The fourth, mini version, has the same id, slider-3, as the third.

Could be fixed by changing slider-3 to slider-4 in lines 36 and 37 in jquery-mobile/demos/slider-tooltip/index.php

[2016-08-23 10:58] jaspermdegroot commented on #8246
After merging PR https://github.com/jquery/jquery-mobile/pull/8500 the following things remain to be done:
- remove superfluous vendor prefixes theme CSS (can't use autoprefixer here because we need the inline comments for the ThemeRoller)
- remove `filter: Alpha(Opacity=*);` (we will only support IE9+)
- remove `.ui-toolbar-android-2x-fixed` rule in fixed toolbar CSS (we will drop support for And

[2016-08-23 15:42] Michael-F-Ellis opened #8501 "Two-block grid demo has vertical offset on right half"
Attached image shows the result from html below.  I'm using version 1.4.5 with a theme generated today with the mobile theme roller.
![jqgrid_offset](https://cloud.githubusercontent.com/assets/6699301/17898301/414c051a-6925-11e6-9d40-2bc76d35568a.png)

The chrome CSS Diff extension says there are no differences in the CSS for the two blocks.

#### Here are my stylesheets:

[code]
#### And here's t

[2016-08-23 16:26] Michael-F-Ellis commented on #8501
FWIW, the offset problem also happens with the 3 block grid demo, on the rightmost block.

![jqgrid3_offset](https://cloud.githubusercontent.com/assets/6699301/17900318/db2ec684-692c-11e6-8952-360a3a744f20.png)

[2016-08-23 18:02] jaspermdegroot commented on #8501
@Michael-F-Ellis

This doesn't seem to be a problem in jQuery Mobile itself. This JS Bin test page shows that without your custom CSS the issue doesn't appear: http://jsbin.com/nomateyobe/edit?html,output
Something in your cafe-au-lait.css stylesheet breaks the jQuery Mobile grid.

I am going to close this ticket since it's not a bug. You can post on the [jQuery Mobile forum](https://forum.jquery.

[2016-08-23 18:02] #8501 closed

[2016-08-23 18:18] jaspermdegroot commented on #8499
@karenbennett - Thanks for reporting this. I added a fix for this to PR https://github.com/jquery/jquery-mobile/pull/8494.

[2016-08-23 18:23] Michael-F-Ellis commented on #8501
Thanks for the quick response! FWIW the cafe-au-lait.css file is unaltered, accept for the renaming, from http://themeroller.jquerymobile.com/?ver=1.4.5&style_id=20160823-4.  Is it likely that Theme Roller is emitting something flaky, or should I look elsewhere in the code?

[2016-08-23 20:04] Michael-F-Ellis commented on #8501
I created a JSBin at http://jsbin.com/bocubeqaza/1/edit?html,output with no local sources. It works perfectly there.  However, when I try to serve the exact same code locally or even open it as file:\\ in Chrome, I get the vertical offset.  I've tried clearing my browser cache and restarting.  Still seeing the problem.  I'm going to try posting this over at SO to see if a wider audience can help m

[2016-08-23 22:44] jaspermdegroot commented on #8501
@Michael-F-Ellis

I didn't realise that cafe-au-lait.css was a renamed jQuery Mobile theme CSS stylesheet, downloaded from the ThemeRoller. I tested again, see http://jsbin.com/bufuyiguku/1/edit?html,output. Also tested with exactly the same page, using the file system (file://) but I can't reproduce the problem. Very strange.

[2016-08-24 13:32] Michael-F-Ellis commented on #8501
Thanks for going the extra mile!  The problem turned out to be nbsp's.  I pasted the examples from the demo page and didn't have my editor (MacVim) set to show the nbsp's that were used in the displayed source from the demo.  Yikes, that was an expensive (can't justify billing the time) lesson!

[2016-08-24 16:03] ronsweb commented on #8289
This also happens with a tall listview in a popup.  If you scroll to the bottom of a tall listview and click on the listview item, the menu scrolls back up to the last listview item that was at the bottom of the popup before the scroll started and highlights the wrong listview item.  This is affecting a production app.  I cannot find a solution.  It is confirmed in ios 9 and safari on a desktop.

[2016-08-24 21:14] ronsweb commented on #8289
I just tested with the JQM version 1.5 and it fixed the problem.  The tall listview works now and I also tested the code provided for this bug from h1pchek.  I changed out the files to point to the github jqm version 1.5 files:
 <link rel="stylesheet" href="https://code.jquery.com/mobile/git/jquery.mobile-git.css" />
<script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
<script src=

[2016-08-25 06:58] jaspermdegroot commented on #8289
@ronsweb - Thanks for testing again!

Closing as fixed.

[2016-08-25 06:58] #8289 closed

[2016-08-25 17:51] jaspermdegroot commented on #8492
I included this in the demos To Do list at #8245 and am closing this ticket as duplicate.

[2016-08-25 17:51] #8492 closed

[2016-08-25 21:59] ronsweb commented on #8245
Bring 1.5 demo site under https.
http://view.jquerymobile.com/1.5-demos-issues/demos/map-geolocation/

Google Maps Geolocation now only supports https.
Throws warning:  getCurrentPosition() and watchPosition() no longer work on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.

Detail

[2016-08-25 23:01] ronsweb commented on #8245
Popup Date Picker broken on 1.5 demo
http://view.jquerymobile.com/1.5-demos-issues/demos/datepicker/

Throwing error in console: $(...).zIndex is not a function
Line 746: inst.dpDiv.zIndex($(input).zIndex()+1);

Possible fix is to update to the latest jqueryUI.  The 1.5 demo is using 1.10.4.  Should be latest 1.12.0
Page is using:
http://cdn.rawgit.com/jquery/jquery-ui/1.10.4/ui/jquery.ui.datepick

[2016-08-29 06:23] anhnguyenict opened #8502 "Can not open the popup again immediately after close the popup"
This issue also occurs on "Transitions" section of http://demos.jquerymobile.com/1.4.5/popup/

Step-1: Open http://demos.jquerymobile.com/1.4.5/popup/ on mobile browser, go to "Transitions" section.
Step-2: Open the popup by clicking to button
Step-3: Click to outside the popup
Step-4: Open the popup again immediately
-> The popup is not opened

This issue does not occur if we delay 3 or 4 seconds

[2016-08-29 08:42] vrbvillor opened #8503 "Controlgroup button height"
Just as the photo.
![qq 20160812175235](https://cloud.githubusercontent.com/assets/8016761/18045833/768f1ec4-6e07-11e6-833a-bd0feca0f494.png)

Such as http://demos.jquerymobile.com/1.4.5/forms-field-contain/  and other ones. In webkit browser . That seems it always happens when using `data-mini="true"`.

[2016-08-29 09:58] jaspermdegroot commented on #8503
@vrbvillor

This has been fixed in branch master. See http://view.jquerymobile.com/master/demos/forms-field-contain/ for example.

[2016-08-29 10:06] jaspermdegroot commented on #8502
@anhnguyenict

I just tested this on a Nexus 5 phone, Android 6.0.1, Chrome 52 and I am not able to reproduce the problem. I scrolled down to the "Transitions" section and tried all type of transitions, closing and reopening the popup very fast, and they work as expected.
Can you provide us info about your device, OS, and browser version? Thanks!

[2016-08-29 10:44] anhnguyenict commented on #8502
@jaspermdegroot

I tested on Safari of iphone 6, Android 5.1.1 and Emulator on Chrome 52

Example:
- At step-2, you open "No transition" popup
- At step-3, you close "No transition" popup by click on "**Flow**"
- At step-4, you must open "**Flow**" again
Notes: the **popup type** at step-3 and step-4 must **same**

[2016-08-29 10:57] jaspermdegroot commented on #8502
@anhnguyenict

Ok, I understand what you mean but this is not a bug but expected behaviour.

When you open a popup, the page gets an overlay that covers the whole page, and the popup comes on top of it. When you click outside the popup you are clicking on the overlay, and this event triggers closing of the popup. In your example it means you are not clicking on the "Flow" button but on the overlay

[2016-08-29 10:57] #8502 closed

[2016-08-29 14:59] ceblanda opened #8504 "Dialogs are in the backstack"
Prior to JQM 1.4, I created dialogues using data-role="dialog" and those pages were not added to the back stack, so navigating off one and then pressing back would bring you to the page before the dialog.

Now with 1.4.5, dialogues are defined as data-role="page" with data-dialog="true". Using this method, the dialog is added to the back stack, so if I navigate off the dialog and then tap back I a

[2016-08-29 15:01] arschmitz commented on #8504
That is correct and not a bug the dialog widget which provided this functionality was deprecated your simply making a dialog styled as a page with data-dialog=true

[2016-08-29 15:01] #8504 closed

[2016-08-29 15:11] ceblanda commented on #8504
But it is inappropriate to go 'back' to a dialog.  There needs to be a way to stop the behavior.

[2016-08-31 03:10] vrbvillor commented on #8503
But this page has new bugs. Look at the pics below.

![qq 20160812175235](https://cloud.githubusercontent.com/assets/8016761/18114665/890b7b5a-6f6b-11e6-9242-b7433cd0f92b.png)
![qq 20160831110916](https://cloud.githubusercontent.com/assets/8016761/18114667/8912eaf2-6f6b-11e6-9d68-a3675dbfc7e7.png)
![qq 20160831110925](https://cloud.githubusercontent.com/assets/8016761/18114669/891454dc-6f6b-11e6-8

[2016-08-31 03:37] vrbvillor opened #8505 "The collapsible listview doesn't appear the same."
Please close this issue.

[2016-08-31 05:35] #8505 closed

[2016-08-31 06:51] jaspermdegroot opened #8506 "Selectmenu: multiple select wrong count bubble position"
Those screenshots are from the forms field containers demo page:

![image](https://cloud.githubusercontent.com/assets/1296793/18118579/39f69212-6f56-11e6-8a6b-0d3e5d5896f2.png)

![image](https://cloud.githubusercontent.com/assets/1296793/18118675/a1016dec-6f56-11e6-8292-b26b9fb70259.png)

@arschmitz @gabrielschulhof I think that we already talked about this during one of our weekly meetings, but I

[2016-08-31 06:58] jaspermdegroot opened #8507 "Selectmenu: checkboxes in multiple select menu list are missing"
Checkboxes in multiple select menu list are missing.

See the "multiple" examples onhttp://view.jquerymobile.com/master/demos/selectmenu-custom/ vs. http://demos.jquerymobile.com/1.4.5/selectmenu-custom/

[2016-08-31 07:26] jaspermdegroot commented on #8503
@vrbvillor

There is already a ticket for this: #8493

The flip toggle examples have been fixed in PR #8494 (preview: http://view.jquerymobile.com/demos/demos/forms-field-contain/), but this PR has not been merged in master yet.

We were aware of this problem, but there was no ticket for this so I opened one: #8506

But in this picture, it seems the left one is over hight.

I will look into this.

[2016-08-31 07:30] jaspermdegroot opened #8508 "Field containers: CSS for field containers with a controlgroup is broken"
The legend and controlgroup are no longer next to each other on wider screens.
See http://view.jquerymobile.com/master/demos/forms-field-contain/

[2016-08-31 07:45] vrbvillor commented on #8503
That is not on my page, that's on your website. If the problem is due to the font family, um...... the F12 calculated the family is Sans Serif.

[2016-08-31 07:48] jaspermdegroot commented on #8503
@vrbvillor

I know that it's our demo page. I just want to test with the same font as you.
What Windows version and what version of IE/Edge are you using?

[2016-08-31 07:58] vrbvillor commented on #8503
win7 and webkit browser.

[2016-08-31 08:07] vrbvillor opened #8509 "The dialog background changes with the overlay."
I use the `data-overlay-theme="b"` but the content of the dialog changes to theme-b too, and can't modified to theme-a.

[code]

![qq 20160831113649](https://cloud.githubusercontent.com/assets/8016761/18121004/00415a86-6f95-11e6-99f5-b083894d72eb.png)

[2016-08-31 08:28] vrbvillor opened #8510 "Is there a table or a list to tell the changing?"
The documentation says that most of `data-attr` will be replaced with class `ui-xxx`. Is there a table or a list to tell which `data-attr` will be replaced with which class ?

[2016-08-31 11:19] jaspermdegroot commented on #8510
@vrbvillor

Each new version comes with an upgrade guide and changelog. These can be found on the website [jquerymobile.com](http://jquerymobile.com).
Please note that this issue tracker is meant for bug reports. For questions you can use the (forum)[https://forum.jquery.com/jquery-mobile].

[2016-08-31 11:19] #8510 closed

[2016-08-31 11:27] jaspermdegroot commented on #8509
Thanks for reporting the issue. We will look into it.

Test page: http://jsbin.com/qoqesimenu/edit?html,output

[2016-08-31 12:13] apsdehal commented on #8506
@jaspermdegroot Did you mean #8439?

[2016-08-31 12:31] apsdehal commented on #8509
This is happening because `ui-content` has default transparent background and thus final rendered background for `ui-content` is black.

[2016-08-31 12:31] jaspermdegroot commented on #8506
@apsdehal

Yes! Thanks!!
We have to make the same CSS changes (padding) in the selectmenu CSS.
Do you remember if there was a specific reason to keep using position absolute for the count bubble, and not make it float? Now it can mask the button text, if we make it float it won't.

[2016-08-31 12:40] arschmitz commented on #8509
It should be transparent the real problem is when its a dialog we should set the `ui-page-theme-*` class on the `ui-dialog-contain` element not `ui-dialog`

[2016-08-31 12:41] jaspermdegroot commented on #8509
@arschmitz is right.

[2016-08-31 12:41] apsdehal commented on #8509
Yeah, we discussed this and I will open up a PR soon

[2016-08-31 12:42] jaspermdegroot commented on #8509
Also, `.ui-dialog { background: none !important; }` looks a bit ugly to me. I am sure we can do that without the `!important`.

[2016-08-31 13:25] arschmitz commented on #8509
@jaspermdegroot we should be able to totally drop that rule now we should never define a background on ui-dialog

[2016-08-31 13:57] apsdehal commented on #8506
I don't exactly remember that, probably @arschmitz can help.

[2016-08-31 18:48] jaspermdegroot commented on #8503
@vrbvillor

Your system uses the SimSun font for latin characters. I tested on a Windows 7 system with that font and was able to reproduce the problem. I tested with many other serif and sans-serif fonts but it only happened with SimSun.

In the code inspector in Chrome, can you change the font-family in this rule:
[code]
to:
[code]

Is the Arial font used now (and the problem gone) or still see t

[2016-09-01 00:12] Eccenux opened #8511 "Problem with fixed footer and dialog (webview only?)"
Source code
-----------------------------------------------
Hi. I have a problem with my app that I was able to minimize to this app:
https://build.phonegap.com/apps/2238062/share
Built from this code base:
https://github.com/Eccenux/mJappis-test/tree/test/autocomplete-and-dialog

I could probably minimize it more but it took me 5 days to get to this one and maybe someone will have an idea what is

[2016-09-01 00:22] Eccenux commented on #8511
One more important "fun fact" -- the problem occurs if the autocomplete `listview` (hints) contain more then 5 elements. BUT in a different layout (if you have something below the hints) you need much less elements for the problem to occur.

This originally made me think the problem was in my code, but now I'm convinced it's some weird problem with fixed toolbar positioning. I'm guessing it's eith

[2016-09-01 01:13] vrbvillor commented on #8503
The button height problem is gone. Excellent

[2016-09-01 06:12] vrbvillor opened #8512 "Theme bug of listview & collapsible."
[code]

The sub-listview appears theme `b` not `a`.

[2016-09-01 07:01] vrbvillor opened #8513 "I can't put an icon in the button or a.ui-btn"
[code]

The two button set an icon for each of them with different way. But neither of them shows the icon.

![qq 20160831113649](https://cloud.githubusercontent.com/assets/8016761/18158283/eb892f22-7054-11e6-969a-f5bd83d54b8a.png)

[2016-09-01 07:07] vrbvillor opened #8514 "The page is there , but the console shows error."
[code]

It was ok just now. But doesn't work now. It only matters in Chrome.

[2016-09-01 09:34] jaspermdegroot opened #8515 "Git build files not up to date"
http://code.jquery.com/mobile/git/jquery.mobile-git.js and http://code.jquery.com/mobile/git/jquery.mobile-git.css are far behind master.

[2016-09-01 09:46] jaspermdegroot commented on #8503
After some more testing I noticed that it didn't only happen with the SimSun font and found out that the cause of the problem is the inline block icon and how we adjust its vertical position.

[2016-09-01 10:02] Eccenux commented on #8514
See here: http://stackoverflow.com/questions/32453806/uncaught-securityerror-failed-to-execute-replacestate-on-history-cannot-be

[2016-09-01 10:10] Eccenux commented on #8513
You need a placement class e.g. `ui-btn-icon-left` or `ui-btn-icon-top`.

[2016-09-01 10:23] jaspermdegroot commented on #8503
With commit https://github.com/jquery/jquery-mobile/commit/e6b36ecbd39e71869682d8b4323c5184da172178 we reduced the font-family to simply `sans-serif` to fix #5778. The idea was that every OS would use the default sans-serif font which in most cases is also the system font.

A better way to do is, is setting the font-family like this:
```font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", R

[2016-09-01 10:45] jaspermdegroot commented on #8513
@vrbvillor

Please follow the instructions in our [contributing guidelines](https://github.com/jquery/jquery-mobile/blob/master/CONTRIBUTING.md#issues) and include a simple test page, information about which versions are used, which OS/browser you tested on, etc.. Thanks.

[2016-09-01 10:46] jaspermdegroot commented on #8512
@vrbvillor - Please provide a complete bug report. See https://github.com/jquery/jquery-mobile/issues/8513#issuecomment-244043002. Thanks.

[2016-09-01 10:59] jaspermdegroot commented on #8508
Also; the "checkbox with legend" example jumps to the left when you click on the button

[2016-09-01 15:55] Eccenux commented on #8511
Adding `ui-listview` to `tapToggleBlacklist` helps for the scenario when you select a list item.

But even then the problem still occurs when you click outside of the list (even outside the window e.g. developer console). The problem occurs both on Chrome 52 and latest 53, but NOT on Firefox 41.

See logs from my blur test here: https://github.com/Eccenux/mJappis-test/tree/test/autocomplete-and-di

[2016-09-01 18:27] #8503 closed

[2016-09-01 18:29] #8499 closed

[2016-09-02 01:18] vrbvillor commented on #8513
@Eccenux   Thanks a lot    The problem resolves.

[2016-09-02 01:18] #8513 closed

[2016-09-02 01:24] vrbvillor commented on #8512
https://jsfiddle.net/
![qq 20160831113649](https://cloud.githubusercontent.com/assets/8016761/18189594/ef1bfa12-70ee-11e6-81cd-b80ffe18f60f.png)

The first collapsible topic contains one item without `data-theme="a"`, so it remains theme b.

[2016-09-05 16:34] Eccenux commented on #8511
Right. So I'm giving up on this one. Here is a crazy workaround.

The workaround
--------------------
You have to add this to all pages that has a button that opens a dialog and that has a dynamic layout.

[code]

Assumptions
--------------------
Ids of two pages that layout is dynamic (it's height can grow) are:

* `page-with-dialog-open`
* `another-page-with-dialog`

Selector of an input that ch

[2016-09-06 13:29] ceblanda opened #8517 "need a way to exclude dialogs from the backstack"
Issue #8504 was closed without a resolution.
It is incorrect flow to go 'back' to a dialog.  I understand why it is happening, but the fact that the dialog widget was deprecated and dialogs are now treated as pages is causing this issue.  If this is 'as designed' then I am asking for the design to be reviewed and changed, if this is an 'unintended consequence' then I would like a workaround added.

[2016-09-06 14:16] apsdehal commented on #8509
Closing as this is no longer a problem with current master, for which cdn hasn't been updated. We are applying `ui-body-a` class to `dialog-contain` which solves the issue. Bin with latest master used and corrected markup: http://jsbin.com/yejoqirono/1/

[2016-09-06 14:16] #8509 closed

[2016-09-06 14:29] apsdehal commented on #8514
Closing as this is something related to chrome not jqm. `pushState` only works on a Web Server. You can check for more details at https://bugs.chromium.org/p/chromium/issues/detail?id=301210

[2016-09-06 14:29] #8514 closed

[2016-09-06 14:38] Jahrenski opened #8518 "selectmenu black box in Chrome"
I have a weird behavior with JQM's selectmenu's on Chrome with mobile emulation mode activated. (It happens on Both Chrome 52 and Canary 55)

When you click the selectmenu to open it, it opens a black empty offscreen window instead as shown in the attached screenshot.

![blackbox](https://cloud.githubusercontent.com/assets/3932920/18277781/ad2b1c00-741d-11e6-922d-1742a405a5e8.png)

This occurs on

[2016-09-06 14:47] apsdehal commented on #8518
I tried but not happening for me
![image](https://cloud.githubusercontent.com/assets/3616806/18278228/4e62ba96-741f-11e6-8e6c-66500949cdca.png)

[2016-09-07 20:08] Jahrenski commented on #8518
Wow, I have no idea why this happens on my machine. I tried resetting Chrome/Canary settings - dev tools settings and even reinstalling but it keeps giving me that black thing. I guess we can close this ticket as this seems to be some voodoo with Chrome itself.

[2016-09-07 20:08] #8518 closed

[2016-09-08 17:15] #6767 closed

[2016-09-08 17:36] apsdehal commented on #8512
http://jsbin.com/devehehoge/1/edit?html,output

[2016-09-08 17:37] apsdehal opened #8519 "Listview: data-theme option is not working"
Scroll down to theme section listview should be black in color, but it is white.
http://view.jquerymobile.com/master/demos/listview/

[2016-09-08 17:52] #5263 closed

[2016-09-09 01:15] vrbvillor commented on #8512
@apsdehal  What's your code for?  The outlook of yours is not what I want.

[2016-09-09 01:26] apsdehal commented on #8512
Yeah, I know,  I found another bug in the process which needs to be fixed and will fix this one in result.

[2016-09-09 10:53] gabrielschulhof commented on #8517
@ceblanda @arschmitz what about the following sequence:

page -> dialog1 -> dialog2

If you hit back from dialog2, you may not want to skip dialog1, depending on the desired interaction. For example, if you have a button in a dialog like "Advanced..." that brings up another dialog.

In version 1.4.x the framework would not skip past a dialog when coming back **from a dialog**.

[2016-09-09 11:18] ceblanda commented on #8517
In my app the dialogs don't have back buttons and I don't string two dialogs together, so this is not an issue.  My biggest issue is that the framework changed the flow without giving us a way to keep the flow the same as it was.  I at least need an attribute to put on the dialog to keep it from being returned to.

[2016-09-14 00:04] garrett-eclipse opened #8521 "Please keep rel="external" within the iOS webApp"
Hello,

I realize this is a duplicate of two closed tickets;
https://github.com/jquery/jquery-mobile/issues/597
https://github.com/jquery/jquery-mobile/issues/744

However neither of these seemed to have been resolved with an appropriate fix for jQM. They indicate some hacks to JQM itself or using jquery.stayInWebApp.js (https://github.com/mrmoses/jQuery.stayInWebApp/blob/master/jquery.stayInWebAp

[2016-09-21 14:26] kumquat0601 commented on #6440
@stereoscott , @kerwitz  Thanks! It works very well !!! it' s good workaround.

[2016-09-24 22:05] apsdehal commented on #8507
@jaspermdegroot Any particular reason [these](https://github.com/jquery/jquery-mobile/blob/3d7eaceff3292058833a110283695ed8cd9f8464/css/themes/default/jquery.mobile.theme.css#L182) were removed in https://github.com/jquery/jquery-mobile/commit/bf6bb09d40d6cd1da5df07dc338f5ea9cf2c522c

[2016-09-24 22:14] jaspermdegroot commented on #8507
@apsdehal - That was because we are switching from `::after` pseudo element to `span`s for icons.

[2016-09-24 22:16] apsdehal commented on #8507
So checkbox was generated by the pseudo element which is no longer available. Thus, to solve this I have to add span element in anchor with proper classes.

[2016-09-25 05:09] jaspermdegroot commented on #8507
@apsdehal - Yeah, that's correct.

[2016-10-03 20:59] slavap opened #8527 "ui-nodisc-icon must eliminate round requirement for icon as well, especially important for custom icons"
Test case:  http://jsbin.com/dipujowile/edit?html,css,js,output

It just needs minor change in CSS to be fixed:
.ui-nodisc-icon.ui-btn:after,
.ui-nodisc-icon .ui-btn:after {
  -webkit-border-radius: 0;
  border-radius: 0;
}

[2016-10-04 07:39] jaspermdegroot commented on #8527
Thanks @slavap . I agree. Since it's a small change in theme CSS we should be able to make this change for 1.5.

[2016-10-05 21:45] Michael-F-Ellis opened #8528 "JQM enhancement (apparently) not available in deferred callback"
See http://jsbin.com/hutawoc/?html,js,console

Lines 32, 33
[code]

I'm writing a function to (re)create a nested menu within an existing element, removing the old one if it exists.  One of the arguments is a string selector, e.g. "div.top".  Normal JQuery operations work correctly whether the function is executed immediately from the script or deferred with setTimeout, but JQM.enhanceWithin doesn

[2016-10-05 21:58] arschmitz commented on #8528
Please create a simplified test case using regular js not coffeescript and latest code.

[2016-10-05 22:19] arschmitz commented on #8528
I dug into this a little and the problem is your usage of pure.js you get your reference and save it to the target var before you call pure.render which replaces the element. So the reference your holding is to an element which is no longer in the dom. This is why a selector works. So long story short the pure.js render call destroys element references, nothing to do with the timeout.

Closing sin

[2016-10-05 22:19] #8528 closed

[2016-10-05 22:54] Michael-F-Ellis commented on #8528
Thanks! That info makes for an easy solution by reselecting after the pure.js render, i.e.,

[code]

I hadn't realized pure.js replaces the outer element when rendering content within it.  Apologies for the noise.

[2016-10-06 13:12] OrZipori commented on #5764
Hello, There are still bugs in the slide right and slide left transitions in iOS. Currently I use the latest cordova with xcode 8, and the transitions are still buggy in safari. The transitions are working well in chrome though.

When I say buggy I mean, that when the user taps on a button which leads to a different page, the slide to the right is not really isn't smooth. It got a little delay bet

[2016-10-10 21:48] asdfrog opened #8529 "scrollable popup - can't select checkboxes"
As per my question in the jQuery forum, with jQuery mobile 1.4.5 you can't select a checkbox in a scrollable popup.  This works in 1.4.4

I'm not sure what best practise is for adding code directly or providing a link sorry.  Link to the issue with example code follows

https://forum.jquery.com/topic/popup-with-scrollbars-can-t-select-checkbox-at-bottom-of-popup

[2016-10-10 22:54] apsdehal commented on #8529
@asdfrog Please review repo's Contributing guidelines https://github.com/jquery/jquery-mobile/blob/master/CONTRIBUTING.md and create a JSBin for the issue.

[2016-10-10 23:17] asdfrog commented on #8529
@apsdehal I created a JSBin (http://jsbin.com/juvizupofu/edit?html,output) and the issue appears solved.

Can I clarify though that https://code.jquery.com/mobile/git/jquery.mobile-git.js is V1.4.5?

To be clearer about the issue, I am opening the popup via the 'Open the Dialog' link and trying to select the 'Test Checkbox' at the bottom of the popup. In V1.4.4 this worked fine, but in V1.4.5 it d

[2016-10-10 23:21] apsdehal commented on #8529
This is 1.4.5 https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js , the one you used is 1.5-pre. Try replicating with that.

[2016-10-10 23:26] asdfrog commented on #8529
OK, thanks @apsdehal I've updated the JSBin (http://jsbin.com/wevekayaji/1/edit?html,output) to use jQuery mobile 1.4.5, and the issue does exist in this example.

[2016-10-12 15:23] duselguy opened #8530 "Collapsible set - different look"
Hello,
Expand than collapse in the demo from [jQuery Mobile API Documentation](http://api.jquerymobile.com/collapsibleset/) cause different look (blue glow) for the first, second, etc., and the last. Is it WAD?
![q](https://cloud.githubusercontent.com/assets/22796143/19316038/9dae62e4-90a8-11e6-9907-31f5eb06fc47.jpg)
Thanks

[2016-10-12 20:13] arschmitz commented on #8530
What browser is that its working properly and highlighting all the way around when i try in chrome.

[2016-10-13 12:03] OrZipori opened #8531 "Transitions slide in and out not smooth in safari iOS 10"
Hello, There are still bugs in the slide right and slide left transitions in iOS. Currently I use the latest cordova with xcode 8, and the transitions are still buggy in safari. The transitions are working well in chrome though.

When I say buggy I mean, that when the user taps on a button which leads to a different page, the slide to the right isn't smooth. It got a little delay between the slide

[2016-10-13 12:38] duselguy commented on #8530
My picture above was for FF/Chrome under desktop Win7. For Chrome in Android it looks totally different. If jqm doesn't provide output compatibility (with some reasonable exceptions) for the different platforms I have no more comments for this part.
P.S. I'll close the ticket in few days. Thanks.

[2016-10-13 12:58] arschmitz commented on #8530
@duselguy sorry i missed that it needed to be collapsed i can reproduce this cross browser now. We just need to adjust the z-index on `:focus`. Thank you for reporting this. What on chrome for android looks different i just tried and everything looked the same to me? can you provide a screenshot of the difference?

[2016-10-13 14:51] duselguy commented on #8530
**@arschmitz**
The issue contains 2 parts:
1) Expand than collapse in the demo from [jQuery Mobile API Documentation](http://api.jquerymobile.com/collapsibleset/) cause different look for the first, second, etc., and the last in **FF/Chrome on desktop Win7**:
**First ("partial" blue glow):**
![ff1](https://cloud.githubusercontent.com/assets/22796143/19352794/d6efce0a-9169-11e6-8bd7-ca9bb22b2bbd.jp

[2016-10-27 16:36] marioja opened #8533 "anchor tag href="javascript:myMethod()" does not work"
I know that adding a click event handler can achieve the same purpose but I am generating the markup for a listview using anchor tag and I would like to add the binding to the javascript method in the markup.  I tried setting the data-ajax="false" but it did not work either.  Here is my javascript code:

[code]

[2016-10-28 13:19] carloguli opened #8534 "Popup fails with query strings that include URI encoded characters"
Not sure if or how this issue might relate to #8299

My intent is to embed filter parameters in the URL query string so that the filtered request can be saved as a bookmark.

I display my filter form in a popup.
I **disable ajax** globally.
If e.g. Chinese characters are included in the query string the popup fails to load.
I'm providing an example:
[https://output.jsbin.com/nugulij/1](https://out

[2016-11-07 20:07] sp1985 opened #8535 "resetActivePageHeight causes scroll to top upon iframe load"
The resetActivePageHeight is apparently fired after a iframe finish loading. This causes a major problem.
In my case, I have an iframe the top of the page and a long list with some search results.
It takes 1-2 seconds to load the iframe content, and in that time the visitor has most likely scrolled down the list. When the iframe finish the load, then the page will scroll to the top again, which is

[2016-11-09 19:46] sp1985 commented on #8535
I think that I have fixed this issue by undoing commit#65ad2f9.

[2016-11-10 16:37] Neesnu opened #8536 "RangeSlider Widget setting min/max values error"
Causes an infinite recursion, can be worked around programatically, but still should be fixed.
If you set the min higher than the max value, or the max lower than the min value it causes an infinite loop when you try to refresh. Workaround is detecting when this occasion occurs and doing the other one first.

https://jsfiddle.net/Neesnu/6xnk3g6n/

[2016-11-14 16:28] gurubaksh opened #8537 "refesh not working"
go to second and press f5 refesh it will give page not found error.

<!DOCTYPE html>
<html>

/*
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
<script src="http://code.angularjs.org/1.0.7/angular.

[2016-11-14 16:30] arschmitz commented on #8537
please create a jsbin demonstrating the issue. Also does this happen when your not using angular?

[2016-11-15 15:25] vespino opened #8538 "iOS: error loading page"
I have been using jQuery Mobile for a few years now for building apps based on Phonegap Build. Since iOS 10 it seems regular linking to subpages results in "error loading page". What I do is very simpel:

index.html => a jQuery call loads the jQuery Mobile list with <a href="item.html?id=1">

Next I have that file (item.html) which is linked to, so the file does exist.

What could this be and why

[2016-11-15 15:40] arschmitz commented on #8538
@vespino can you please make a jsbin of your situation even if it does not reproduce the problem. It makes it easy to put into an app to test

[2016-11-15 16:15] vespino commented on #8538
@arschmitz I don't have an jsbin account. This is my project: http://apps.opolo.nl/meerhoven_4/. It works in the browser, but when exporting is to iOS using Phonegap Build I'm getting the error.

[2016-11-15 16:16] arschmitz commented on #8538
you dont need a jsbin account its free and you can sign in with github. I really need to be able to see and work with a simplified example not a full app.

Have you tried using cordova to make sure its not a phonegap issue we have seen phonegap specific issues in the past

[2016-11-15 16:20] vespino commented on #8538
@arschmitz I'm using Phonegap Build which is the same as Cordova/Phonegap only easier. I can send you a simplefied example, but you need to convert it to an iOS app using Phonegap Build. Can/will you do that?

[2016-11-15 16:21] arschmitz commented on #8538
please just put the code in jsbin and we will take care of building it for iOS

[2016-11-15 16:31] vespino commented on #8538
@arschmitz does this work? https://jsbin.com/jumajer/3/edit?html,output

[2016-11-16 16:30] MickL opened #8539 "Fixed elements disappear on iPhone Plus after page-transition"
I figured out a really weird problem which "only" affects all iPhone Plus in landscape with multiple tabs open. I made a CodePen and you can reproduce it with the Xcode Simulator on macOS.

I examined this problem alot and did not find any solution or workaround yet.

**CodePen:**
http://codepen.io/MickL/pen/BQLVay?editors=1100

**Link to reproduce(copy into simulator):**
http://s.codepen.io/MickL

[2016-11-16 17:08] MickL commented on #8539
Seems to be a bug with WebKit.
Similiar problem at Bootstrap modal: https://github.com/twbs/bootstrap/issues/18859
Reported WebKit bug: https://bugs.webkit.org/show_bug.cgi?id=153056

[2016-11-17 02:20] cvrebert commented on #8539
Consider filing a Radar about the bug at https://bugreport.apple.com and mentioning that it's a duplicate of `<rdar://problem/24191746>`. Apple is said to use Radar duplicate counts as a factor in its prioritization process.

[2016-11-29 13:40] MeRandom opened #8540 "User Activity / License Audit"
Need a quick, easy, and automated, way to identify inactive users consuming a GHE license but that are not actively connecting to, or using, GHE in any way.  Anything that would provide admin the ability discern who truly "needs" the GHE license.
It would be nice if admin had the ability to set an acceptable "user inactive X days" as an event marker, after which the system could create notificatio

[2016-11-29 13:51] MeRandom commented on #8540
Opps...Posted to wrong browser tab.

[2016-11-29 13:51] #8540 closed

[2016-11-30 20:42] Chez opened #8541 "When is this thing going to be released ????????"
If it is not a viable solution anymore, in other words if you have given up on it then perhaps someone would be kind enough to tell us developers who need to urgently update our apps and sites. It seems very unfair the way this dev team have maintained deadly silence and a clear lack of concern for those out there using the legacy platforms. We can't update jquery to the latest version either. So

[2016-12-05 08:13] iArnoldo commented on #8541
I am also wating for for a new version so bad...

[2016-12-13 06:08] apsdehal commented on #8537
Closing this until we don't have a jsbin.

[2016-12-13 06:08] #8537 closed

[2016-12-13 21:17] apsdehal commented on #8533
@marioja Can you generate a js bin example using your code based on contribution guidelines? Please reopen this one when you do.

[2016-12-13 21:17] #8533 closed

[2016-12-14 02:01] chdh commented on #8541
In my application, jQuery Mobile 1.4.5 works with the latest jQuery version (3.1.1) after I installed the JQuery Migrate plugin (jquery-migrate-3.0.0.min.js).

[2016-12-15 02:08] velosipedist opened #8542 "isPath fails on hashes containing slashes"
If i try to
[code]
it works fine.

But if i try to
[code]
i get to subdir instead.

It caused by invalid isPath() check [here](https://github.com/jquery/jquery-mobile/blob/e377564aa121d0439a21bc97f7854ee618c3f72d/js/navigation/path.js#L257).

I'm going to send PR in near future if my expectations described above make sense.

[2016-12-15 15:02] amitdhiman000 commented on #7873
I found same behaiour with
<input type="submit" value="SignUp" />

I submitted form by ajax some errors reported from server so I displayed the errors on same page.
but meanwhile tabs loose the focus and submit button getting focus.
Is there any fix for this ?

[2016-12-15 17:26] carloguli commented on #8534
The reason for the problem I was experiencing with the popup was that I was omitting the id attribute for the div with `data-role="page"`.

Looks like the framework adds a class `ui-page` to the div and also a `data-url` attribute.
The value of the latter is set to the decoded url if the id attribute is missing, to the value of the id attribute otherwise.

I'm not sure of why this is as it doesn't

[2016-12-16 06:23] caique02 commented on #8541
Unfortunately dev team is dead quite. The framework is really good and it will be a pain to re-write using another framework but if this is the case dev team should give an update so we can start the re-work.

[2016-12-16 06:29] apsdehal commented on #8541
1.5-alpha is ready and we are reviewing changelog and docs right now. Here is a PR if you wanna take look: https://github.com/jquery/jquerymobile.com/pull/133

You can use the master anyway, as 1.5 branch has been merged into it.

[2016-12-16 06:29] #8541 closed

[2016-12-20 15:13] geki-yaba opened #8544 "Download-Builder Unstable/Latest: fieldcontain flipswitch variants show label and checkbox/select on two lines"
... with jquery 3.1.1. Whereas 1.4.5 with jquery 2.2.4 shows them on one line as expected.

My code is uploaded here:
https://github.com/geki-yaba/FritzBoxPHP/tree/master/www

jquery includes start at (switch to jquery 3 and custom jquery mobile git package to see the difference):
https://github.com/geki-yaba/FritzBoxPHP/blob/master/www/index.php#L34

You may add any fieldcontain flipswitch exampl

[2016-12-20 15:32] geki-yaba commented on #8544
Here is a reduced testcase:
http://geki.selfhost.eu/hacks/flipswitch.html

[2016-12-21 20:18] geki-yaba commented on #8544
Hokay, it looks like the unstable version thinks that I have a narrow display (1366x768), whereas 1.4.5 thinks otherwise. I actually see that dividing line between fields.

How may I adjust the property for narrow displays?

[2016-12-21 20:42] geki-yaba commented on #8544
A ha, the builder forgot about jquery.mobile.forms.fieldcontain.css. Now my prefered variant works, but not all. o well, ...

[2016-12-24 08:56] harpreetsb opened #8545 "Handling of 'touchstart' input event was delayed"
I get error as soon as i tap on button
`Handling of 'touchmove' input event was delayed for 1482569436684 ms`
[code]
The code
[code]

[2016-12-24 08:58] harpreetsb commented on #8545
another error 'Handling of 'touchmove' input event was delayed for 1482569779894'
while to swipe, but swipe works

[2016-12-26 14:28] wallym opened #8546 "jQuery Mobile dead?"
I am guessing that jQuery Mobile is dead.  I don't see any updates on it from the meeting notes standpoint.  It has been 6 months since the meeting notes were updated.  The last major update was 3 years ago.  I've got a web product that uses it in certain situations.  It gets used for some form element styling and that's about it.  Every year at this time, I look to make sure that all of my framew

[2017-01-02 13:42] xilaworp commented on #8546
A status update would indeed be most welcome, also it would  be interesting to know how JQuery Mobile's status as a JS Foundation project will affect future development.

[2017-01-03 00:10] JimHapenney commented on #8546
Yep, getting bit worried myself.  Some update about 1.5 from someone would be much appreciated.  Been using jqm since the beginning, don't really wanna learn/port to a new framework, happy with jqm, bugs and all, but not many since 1.4.5.  A few, but workarounds are easy.

[2017-01-03 02:17] ElliotNB commented on #8546
I'm concerned about this myself. It looks like the jQuery Mobile team last had a meeting on September 29th, 2016: https://docs.google.com/spreadsheets/d/11-mngR57h54cIOjGDE2Z6LjaiyRgDwlcvKUzZn2Fw6M/edit#gid=2121311965

There isn't anything in the meeting notes suggesting that jQuery Mobile is being abandoned, but there certainly hasn't been any recent activity in the repo.

[2017-01-05 02:00] primet21 commented on #8546
I second this. Would be nice to get info on JQM's status.

[2017-01-05 02:02] arschmitz commented on #8546
Sorry i did not see this soon i was un available for the holidays. jQuery Mobile is not dead at all. There have been many ups and downs in the team recently that have lead to unexpected delays in the release of 1.5 however the alpha is complete and has been tagged earlier this week

There will be an official announcement tomorrow again i apologize in the delay in responding to this issue

[2017-01-05 19:27] dpolivy opened #8547 "hashToSelector doesn't correctly handle already escaped characters"
It's possible that `hashToSelector` is called with a string that contains characters that are already slash-escaped, e.g. `a\'b\'c`. In this case, it incorrectly double encodes the character, leading to the slash being escaped and the character not being escaped. Thus, when the value is passed as a jQuery selector, it blows up with an error like the following:

[code]

Test page to reproduce this:

[2017-01-06 17:46] dpolivy commented on #8547
To add to this, it also doesn't handle parameters with double slashes `\\` especially if they are next to an escaped character, e.g. `\\'`. Is there a reason that `\` is not in the list of escaped characters for this method? I think it should also be added to both of my regexps above.

[2017-01-08 16:26] vincedan commented on #8546
good news...  "write less, do more" , we need this framework alive.

[2017-01-08 16:47] arschmitz commented on #8546
Just small update sorry we didn't get the official announcement out we had a minor infrastructure issue and didn't want to announce until it was fixed the release is available on the cdn and the new demos are available until then though.

http://code.jquery.com/mobile/
http://demos.jquerymobile.com/1.5.0-alpha.1/

[2017-01-08 16:55] JimHapenney commented on #8546
The demos look great arschmitz!

One concern though, appears you're loading jQuery 1.11 for the demos.  Will jQM 1.5 be jQuery 3.1 compatible?

[2017-01-08 16:56] arschmitz commented on #8546
@JimHapenney Yes it is fully compatible with jQuery 3.x

[2017-01-08 21:04] ElliotNB commented on #8546
I'm very glad to see these updates! The jQuery Mobile framework is a very important part of our development stack. While other mobile frameworks often impose their own strict rules and convention, JQM is wonderfully flexible and versatile. +1 to @vincedan "we need this framework alive".

[2017-01-09 16:34] yannperceval opened #8548 "Taphold event not worked everytime with iPhone 6"
jQuery v.2.1.4
jQuery Mobile v.1.4.5

When I click long time, the _taphold_ event is emitted. But if I try to reduce the duration on top hold with an iPhone 6 device, I can have a contextual menu of the browser but _taphold_ event of jQuery Mobile is not emitted.

Could you help me to fixed this problem ?

Thanks.

[2017-01-09 16:48] yannperceval commented on #8548
I can reproduce this issue on Android 6.0.1 (Chrome).

[2017-01-09 17:02] yannperceval commented on #8548
Sorry, I update this configuration to fixed my problem :

[code]
Thanks

[2017-01-09 17:02] #8548 closed

[2017-01-11 11:15] CharLiPPS commented on #8546
Excellent News Alex. That's great news!!!

[2017-01-11 11:50] deblocker commented on #8546
Backward-compatibility & bugfixes are more worth than a new release every three months.

[2017-01-11 12:50] arschmitz commented on #8546
@deblocker we fixed several hundred issues during the 1.5 development cycle reducing the issue count to its lowest point since before 1.0

[2017-01-13 03:42] pkosenko opened #8549 "Is JQuery Mobile 1.4.5 Multipage configuration Broken?"
I cannot seem to be able to get JQuery mobile 1.4.5 to honor having two or more pages in one document. The following HTML works fine with a JQuery Mobile 1.4.2 demo. Initial page load shows only the page one DIV and clicking the link for page two loads the page two DIV.

But in the current JQuery Mobile 1.4.5, both pages show up in the initial browser load and navigation does not work.

I cannot h

[2017-01-13 04:25] pkosenko commented on #8549
Never mind.  After ripping out a lot of things in the header, I noticed that the closing &lt;/script&gt; tag for JQuery Mobile was missing the back slash and hence was wiping out what I thought was the loading of the jq mobile script.  Please close the case.  Note that the final script tag was missing the back slash:
&lt;script src="./js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.js"&gt;&lt;script&gt

[2017-01-13 04:25] #8549 closed

[2017-01-22 21:38] cyberbeat commented on #8546
I am very happy, that you are working on version 1.5!

But I tried to replace 1.4.5 in my project with master today, and reverted after a while. Too many things broke. I hope backwards compatibility will worked on some more? For example the icon-class names and data-attributes, the header-data-attributes.

And I found a bug in the demos, which appeared in my project too: http://view.jquerymobile.c

[2017-01-25 07:47] coordinate opened #8550 "Can not center "Controlgroup" with 1.5.0-alpha.1"
Can not center 'Controlgroup' with 1.5.0-alpha.1 by add 'align="center"' to content
[demo](http://output.jsbin.com/somoyac)
<a class="jsbin-embed" href="http://jsbin.com/somoyac/1/embed?html">JS Bin on jsbin.com</a><script src="http://static.jsbin.com/js/embed.min.js?3.40.3"></script>

[2017-01-25 08:07] coordinate opened #8551 ""Controlgroup" cantain more than three "select" will get wrong with 1.5.0-alpha.1"
[demo](http://output.jsbin.com/xucodi)

[2017-01-25 10:26] arabsight opened #8552 "update npm package"
would you please update the npm package, latest is : 1.4.1

[2017-01-30 04:04] euecheruo opened #8553 "Main Content renders then turns blank White after couple of sec on Firefox Mobile"
<b>Issue description</b>

You can try to recreate my issue on my blog [echmondproject.com](http://echmondprojects.com).
So far the issue seems to be limited to just firefox browser mobile browser on android.
When you load a url, for example [echmondprojects.com/projects](http://echmondprojects.com/projects) it renders properly but after about 2 to 3 seconds the main content section turns blank “wh

[2017-01-31 03:56] euecheruo commented on #8553
You can close this please, it was a CSS issue, apparently firefox mobile browser doesn't like overflow-x: hidden placed in the HTML and BODY element selectors in combination with z-index and position: relative placed on the affected element. It produces the unwanted affect I described earlier where it allows the DOM is display the section for just 2 secs then goes blank “white”. As far as I can te

[2017-01-31 14:17] #8553 closed

[2017-02-06 08:36] deblocker opened #8554 "Popup ignores overridden values of x & y"
Trying to set popup position fails:
      if (e.type == "popupbeforeposition") {
        ui.x = 100;
        ui.y = 100;
      }
Resizing the window causes popup change from positionTo=origin to positionTo=window

Test: http://plnkr.co/edit/u6sBvBXQ0NaEqrUkZLod?p=preview

[2017-02-06 12:36] joycon opened #8555 "Popup does not refresh"
Hello, I wanted to know if it is possible to refresh a popup, I have the following script in my js, the refresh works for one list, but not for popup. It even asignes the necessary clases, but popup ends lossing assigned tags.

[code]

[2017-02-07 03:22] pstanton commented on #7978
still a problem in 1.12.4

[2017-02-07 04:40] jerroydmoore commented on #8381
+1 this issue. The latest stable version of jqm should work with the latest version of jquery. Or better version pairing guidance should be given to developers, otherwise, the product appears unstable.

[2017-02-07 12:46] Maltm commented on #7272
is there a workaround for this? so that it doesn't disappear?

[2017-02-07 13:43] fgarzonhz commented on #8546
Please can you post in your blog what are the dates estimate to delivery maybe a RC and RTM , so we can help start test with our project and report any thing we found.
Thanks for your work and continue as this. Congratulations for the effort you is doing.

[2017-02-08 06:20] sirdarckcat opened #8556 "Security bug report"
Where do I file security vulnerabilities? I emailed security@jquery.com but didn't get any response.

[2017-02-08 21:30] sirdarckcat commented on #8556
Thanks for the response.

[2017-02-08 21:30] #8556 closed

[2017-02-10 14:50] yoann-br opened #8557 "The taphold event is not raised in firefox on touch screen devices"
#### Issue description

The `taphold` event is not raised in firefox on touch screen devices.

#### Test page

I use this [jsFiddle exemple](https://jsfiddle.net/on5yfr6j/1/) to reproduce the issue.

#### Steps to reproduce

1. Go to the test page with firefox
2.  Maintain tap on the square

Expected result : square color change if taphold event is raised

#### Actual outcome

The `taphold` event

[2017-02-11 04:45] gs9999 opened #8558 "multiple value - select list - using data-native-menu: false"
Using the above criteria,

a) multiple value select widget
b) using data-native-menu: false

on iPhone 5s, and SE, the select list renders, however upon selecting new options, and closing the rendered select menu, the page fails.

I am using phonegap, if that matters. jquery.mobile.1.4.5.min.js

I think this needs to be looked into.

Thanks,

GS

[2017-02-11 20:28] microchipmatt opened #8559 "Theme Roller for Alphas like jQuery 1.5 Alpha"
Hello everyone.  If I want to test my code on jQuery Mobile 1.5 (I know it's in alpha still), How do theme roll my app theme for usage on an alpha? Is there some sort of Beta Theme roller I can use?

[2017-02-13 14:12] DropkickSteve commented on #8558
This happens when the list of the select menu is larger than the screen height.
In this scenario the default handling of jq mobile is to open the select menu as a dialog and this is essentially a new page.
So if you have placed your select menu initialization and population code inside pagebeforeshow,
when you select your value in the dialog, then pagebeforeshow is triggered again, re initializing

[2017-02-14 05:02] ElliotNB commented on #8546
I second what @fgarzonhz has said. The jQuery Mobile project needs some kind of blog update or announcement . Otherwise people will continue to assume that jQuery Mobile is dead or very close to it.

We love jQuery Mobile and want to see it continue to thrive! Thank you all for your efforts! @arschmitz @jaspermdegroot

[2017-02-15 14:07] IanCaz opened #8560 "During swipe - Unable to preventDefault inside passive event listener due to target being treated as passive."

[2017-02-15 23:19] #8560 closed

[2017-02-16 19:25] cgack commented on #8546
Hey folks. I'm not @arschmitz or @jaspermdegroot (obviously) but I'm a member of the team.  We have done a ton of work over the last few years for 1.5. Lately with everyone's day jobs it has been hard to even coordinate a weekly meeting to update everyone on the status of the project so we know how to move forward with the release. This happens with a volunteer workforce that is distributed around

[2017-02-23 05:52] clp3777 commented on #8552
no joke... I'm beginning to wonder if this repo is maintained at all anymore

[2017-02-24 20:38] vankampenp commented on #8546
If the release is nearly there, that is good new, but someone as jQuery needs to start to do some communication fast to see if this patient can be revived.

[2017-02-24 20:40] arschmitz commented on #8546
Sorry we are working through some technical issues cause our website not to update as soon as its resolved you will see updates on the various JQM websites

[2017-02-24 21:08] SuhniCalifornia commented on #8546
sorry, but this looks like a mess. i appreciate the intricacies of development - but this really is embarrassing to witness

[2017-02-24 22:47] vankampenp commented on #8546
arschmitz I am looking forward to the announcement

[2017-02-25 02:14] arschmitz commented on #8546
We got the main website fixed this afternoon and you can now see the live changelog http://jquerymobile.com/changelog/1.5.0-alpha1/ the api is next once that is done the blog will follow

[2017-02-25 08:18] vankampenp commented on #8546
A long list, should it not also say jQuery 3.X compatibility?

[2017-02-25 13:16] arschmitz commented on #8546
@vankampenp Yes we will add that the changelog is generated from commits and there was no specific commit for that so it was missed thank you

[2017-02-25 15:50] djmj opened #8561 "New Component - spinner"
A mobile optimized spinner component would be great to enhance usability.

[2017-02-25 16:20] arschmitz commented on #8561
Its coming we will be working to incorporate the jQuery ui one along with the other ui widgets. 1.5 include from UI button, controlgroup, checkboxradio, tabs, and accordion.

[2017-02-25 16:25] djmj commented on #8561
That sounds good. If available i will try to write a component for PrimeFaces mobile based on it.

[2017-03-01 07:43] LacikIgor opened #8562 "Popup form reopens on huawei phones"
Hi,

as far as I know, this issue occurs only on Huawei phones for popups with textareas or text inputs (for brevity, lets call them inputs).

When a user tries to write something into the form, the popup closes, then reopens. I suspect this is caused by jquery-mobile trying to re-position the popup in respective to the keyboard.

This occurs for any popup code, even the demonstrations on [http://

[2017-03-01 10:55] ska1v3r commented on #8293
$.mobile.navigate.history.getPrev().hash;

[2017-03-01 12:58] IgorLacik commented on #8562
I fixed the issue for my side with:

[code]

[2017-03-01 13:00] LacikIgor commented on #8562
So I managed to fix the behavior for huawei phones by directly manipulating the jquery-mobile library code - if I find a way to only target huawei phones I can contibute this to the jquery-mobile code

[code]

[2017-03-02 19:46] #8529 closed

[2017-03-02 20:00] apsdehal commented on #8550
`align="center"` is not valid html anymore. You specifically need to set styles to the elements.

[2017-03-02 20:00] #8550 closed

[2017-03-02 20:01] apsdehal commented on #8561
Closing this for now.

[2017-03-02 20:01] #8561 closed

[2017-03-02 20:09] arschmitz commented on #8550
@coordinate despite this not being valid it is actually working as intended. Controlgroups are display block by default and therefor 100% width if you would like to center using the align attribute you cant use block elements and will need to set the controlgroup to be `inline-block`

[2017-03-03 10:46] DropkickSteve commented on #8546
@SuhniCalifornia  jq mobile is an open source framework, developed by people who have other professional business to do. If you are ungrateful or dissatisfied you can choose to stay away from the community

[2017-03-06 14:35] sipi41 opened #8563 "ControlGroup Widget HUGE Input Text Box, please help..."
I'm sorry to bother you but I think I might have discovered a problem with jquery mobile...  I'm trying to reproduce what you show on your examples, please view image  **https://forum.jquery.com/viewFile.do?fileId=14737000007177331&forumGroupId=14737000000003003&portalzaid=-1** but instead I get a huge textbox with a lot of padding... here's the running example https://jsfiddle.net/2qot9tfk/

Some

[2017-03-07 10:22] owq opened #8564 "Checkbox widget does not toggle properly when clicking on certain areas"
Test page with 2 checkboxes: http://jsbin.com/wejiliwose/edit?html,output

(a) This occurs on mobile. After tapping on the middle of the 1st checkbox (where the label element is), immediately tap on the edge of the 2nd checkbox (outside the label element and near or outside the edge of the widget. This is a small area so might take some tries to get it right. Try somewhere in the middle-bottom). N

[2017-03-11 03:17] deblocker commented on #8563
Try this:

.controlgroup-textinput {
  border-width: 1px !important;
  padding: .25em 0 !important;
  border-bottom-style: solid !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.controlgroup-textinput input {
  text-align: right !important;
  font-weight: 700 !important;
}

[2017-03-16 09:22] windsurfmarkt commented on #8546
We still working on a new version for our page with jqm an we hope for the next version

[2017-03-16 14:34] deblocker commented on #8555
I guess this isn't a JQM issue, if you post your question on jQuery Forum or StackOverflow, you will receive an answer for sure.

[2017-03-26 03:10] #8303 closed

[2017-03-27 17:50] ElliotNB commented on #8546
How are things coming along @arschmitz ?

[2017-03-27 19:02] SuhniCalifornia commented on #8546
@DropkickSteve
re:  jq mobile is an open source framework, developed by people who have other professional business to do. If you are ungrateful or dissatisfied you can choose to stay away from the community

i stand by my comment & honest expression regarding the progress of this project
best of luck & maybe another team will come to the rescue
sometimes it is wise to admit when you are in over y

[2017-03-27 19:33] arschmitz commented on #8546
We hope to have the api fixed and up this week ( we thought last week but there was some debate on best way to document the version of UI we are using ) as soon as that is live we will publish the blog post.

After that we will give it a few week for people to test and report issues before releasing the beta and hopefully final soon there after anyone wanting can use it now though by checking out

[2017-04-02 15:16] djmj opened #8565 "Allow simple checkbox square-box styling without text"
There are several use-cases where a simple checkbox is required without a label and just with a square box.

## 1) How it could look

show a styled checkbox. If no or empty label is provided render a square checkbox.

http://imgur.com/OIb3EjT

## 2) Actual behavior

empty label provided - styling collapses since no text is provided in html label component.

## 3) Workaround

a) use an invisible ze

[2017-04-12 20:27] Dunge opened #8566 "input type="datetime-local" with pre-set value fail validation on certain browser"
Demo:
http://jsfiddle.net/XeUcM/68/

Change the date and press the Pause (submit) button.
The validation procedure fail and a popup appear saying the entered date is invalid.
It works if no value is preset in the dom.

Works on:
Desktop Chrome
Desktop Firefox
Mobile Firefox

Fail on:
Mobile Chrome
Mobile Safari

Any workaround?

[2017-04-14 13:21] mindchasers commented on #8546
Let's do it Alexander.  We're ready to help.

[2017-04-16 22:36] Dunge commented on #8566
Submitting via javascript seems to bypass the validation

[2017-04-23 23:43] frankie-loves-jesus commented on #8546
Really looking forward to the update!

Meanwhile I found http://developer.telerik.com/featured/is-jquery-still-relevant/ to provide a much needed perspective on this whole issue.

[2017-04-27 17:47] robcaldecott commented on #8546
We have been using jQM for our mobile web apps since 2011. We switched to using React 18 months ago and put together some React components to wrap the jQM CSS and this kept us going for a while longer. But the lack of project updates and a UI that is looking increasingly stale had pushed us to a different framework (material-ui). But I would like to express my gratitude for all the efforts that ha

[2017-04-27 18:04] vankampenp commented on #8546
Well I have an existing site, and no desire to change JQM, as long as it keeps compatible with different browsers and devices.
So I am looking forward to the new release, get rid of the old code that supports old browsers.

Glad to help by testing it once it is stable.

[2017-04-27 19:35] apsdehal commented on #8546
Hi everyone,

API documentation for 1.5 is up at http://api.jquerymobile.com/. You can download and start using/testing it from http://jquerymobile.com/download-builder/ using 1.5 or latest option there. We will soon publish a blog post announcing its official release.

[2017-05-02 18:52] Ajay88 opened #8567 "DOM XSS JQuery Mobile basetagtest Function"
Hello All,

Recently ran into a potential DOM XSS vulnerability with the basetagtest function of JQuery Mobile 1.3.1 as reported by a vulnerability scan that was run using Burp Suite Professional Edition. I'm very much a beginner in security as well as programming and would like someone to explain whether this is an actual issue or not as well as why it is or isn't an issue. The function in its en

[2017-05-04 07:57] riegaz opened #8568 "1.5.0-alpha.1 listview within external panel no style"
I'm using an external panel and the latest version of jqm. I'm aware that it is still in alpha version.

Could someone tell me why the style does not apply on the listview within the panel?

https://jsfiddle.net/s81k2m3n/

[2017-05-06 19:01] #8568 closed

[2017-05-06 19:01] riegaz commented on #8568
solved

[2017-05-08 19:35] ravijayaramappa opened #8569 "Conform to strict mode"
This request is to make jquery-mobile strict mode compliant. The use of 'this' to refer to window violates strict mode rules. The following pattern is being used to pass window as a parameter to functions.
(function( $, **window**, undefined ) {
 ....
})( jQuery, **this** );

For some context, there were two PR's posted back in 2012 to fix this issue: https://github.com/jquery/jquery-mobile/pull/3

[2017-05-09 00:43] slavap opened #8570 "Popup size is too narrow in case of pageContainer is smaller than a full window"
Let's say there are left and right blocks (not related to jqm application), and pageContainer just placed between them.

Then _clampPopupWidth method should be fixed like that:

[code]

With high probability pageContainer will have "position: relative" defined, because it's natural to expect that everything (panels, popups, ...) will be positioned inside of pageContainer's bounds.
Fixed _clampPopu

[2017-05-10 07:54] pstanton opened #8571 "Filterble widget handles the enter key incorrectly"
if you are typing into the text field, then press enter nothing happens, but then your next key press has no effect. eg:

1. focus on text field
2. press a ('a' appears in field)
3. press enter (no change)
4. ***press a (no change)***
5. press a ('aa' appears in field)

this can be easily reproduced on the [demo page](https://api.jquerymobile.com/filterable/)

[2017-05-10 09:40] Palestinian commented on #8571
It looks like remove `event.preventDefault()` in `_onKeyPress` solves it.

    _onKeyPress: function(event) {
      if (this._preventKeyPress) {
        //event.preventDefault();
        this._preventKeyPress = false;
      }
    },

http://jsfiddle.net/Palestinian/myzqtx6f/

[2017-05-10 21:46] GWSSS opened #8572 "Unable to disable “ajaxEnabled” on jQuery Mobile without breaking the JS (Cannot set property 'ajaxEnabled' of undefined)"
I'm using jQuery Mobile just for the touch/swipe events and don't actually need the AJAX loading. In order to disable it I'm doing the following:

1. Loading jQuery (v1.12.4)
2. Loading disable.ajax.js (see below)
3. Loading jQuery Mobile (v1.4.5)

disable.ajax.js contents:

[code]

As far as I understood I need to bind this function before loading the JQM. However, this drops an error that is som

[2017-05-11 06:52] smaiLee commented on #8572
You should not pass $ as parameter of your handler function.
The first parameter is the event object, so you overwrite the $ of jQuery by event object.

[2017-05-11 10:33] GWSSS commented on #8572
If I change it to `jQuery.mobile.ajaxEnabled = false;` , then it doesn't throw an error, but it simply doesn't work. I still have the ajax on.

[2017-05-11 11:08] smaiLee commented on #8572
Why do you need jQuery, isn't $ defined in your environment? Do you use [noConflict()](https://api.jquery.com/jquery.noconflict/)?
I think 1.4.5 won't work with noConflict() as #126 and #346 where fixed in JQM 1.5.0-alpha.

[2017-05-12 18:42] arschmitz commented on #8546
Everything for 1.5 is up and running now and the blog has been published so i'm going to close this.

I would just like to mention to everyone that expressed support in this issue that we are looking for more help and new team members going forward to keep progress moving at a much faster pace. If any one is interested in helping with development of jQuery mobile feel free to join our weekly meeti

[2017-05-12 18:42] #8546 closed

[2017-05-24 06:17] apsdehal commented on #8569
This is no longer an issue with latest master.

[2017-05-24 06:17] #8569 closed

[2017-05-24 06:22] apsdehal commented on #8571
No longer an issue with latest master, closing for now. I will reopen if I find it after more testing.

[2017-05-24 06:22] #8571 closed

[2017-05-24 06:24] apsdehal commented on #8563
Closing it as not an issue with jquery mobile, more suitable for forums.

[2017-05-24 06:24] #8563 closed

[2017-05-24 06:28] apsdehal commented on #8555
There are a lot of issues with your code, better place to ask is SO or forums. Also use contributing.md guidelines if you want to open an issue in future, it is easier for testing and fixing that way.

[2017-05-24 06:28] #8555 closed

[2017-06-01 03:38] ryantheleach opened #8573 "Listing default properties for jqm widgets in documentation."
https://stackoverflow.com/questions/44298075/how-do-i-find-the-default-properties-to-set-on-jquery-mobile

I'm not sure if this is user error, or if there is an issue with the tool. Any help would be appreciated.

[2017-06-01 03:58] ryantheleach commented on #8573
Ok, ended up finding it after some url exploration.

But it didn't help my original question like I thought it was going to.

JQM docs state that defaults should be set using mobileinit event, before jqm is loaded.

$.mobile.page.prototype.options.contentTheme = "z"; for example.

I've been looking for a way to dump all the potential default properties that can be set.

It would be handy, if in th

[2017-06-01 03:59] arschmitz commented on #8573
http://api.jquerymobile.com/global-config/ has everything already

[2017-06-01 05:53] ryantheleach commented on #8573
So I take it that answers like https://stackoverflow.com/questions/4891906/jquery-mobile-default-data-theme are either not intentional, or supposed to be set?

or

 $.fn.buttonMarkup.defaults.corners=false;

[2017-06-03 13:07] MarcelKie opened #8574 "tap-event needs two clicks to be fired on mobile"
jQuery-mobile needs two clicks on an element to fire the "tap"-event. This only occures on mobile devices.

[code]

This code only fires after the second click on the ".element"-element. The first click is not registered by the event. Also, after the event gets fired at the second click, it will loop through it two to three times.

I use the new jquery-mobile 1.5.0-alpha version and the newest jqu

[2017-06-07 02:34] amin007 opened #8575 "Are Jquery Mobile still active?"

[2017-06-07 02:35] apsdehal commented on #8575
Yes.

[2017-06-07 02:35] #8575 closed

[2017-06-07 02:35] apsdehal commented on #8575
If you have any questions, you can comment on the issue, come in weekly meeting or just ask around on UI dev channel.

[2017-06-14 10:45] Logakarti opened #8577 "How to scroll up/down the mobile app pages using jquery(for appium)"
Is there anyone knows mean please update the code for it.

[2017-06-17 12:34] #8577 closed

[2017-06-19 13:09] fletcho opened #8578 "List item href not working when referencing jquery mobile library - 'Init'"
When I add a `script` tag referencing the JQuery-mobile library to my page the `href` links in my list items no longer work in Google Chrome or Mozilla Firefox (The links still work in IE 11). Below are the two script tag references that I added to my page:

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.

[2017-06-20 16:56] agcolom opened #8579 "Flipswitch displayed incorrectly in 1.5 Alpha 1"
The flipswitch widget is not displayed correctly in 1.5 Alpha 1 see:
http://demos.jquerymobile.com/1.5.0-alpha.1/slider-flipswitch/

Tested on iOS 10.1.1 and OSX 10.11.5 Chrome and Safari

[2017-06-20 20:34] agcolom opened #8580 "Horizontal control group, only 1st and last select get ui-button-inline class"
see example at http://demos.jquerymobile.com/1.5.0-alpha.1/forms-gallery/

I've added more label/select pairs and only the 1st and last ones get the ui-button-inline class, causing the controlgroup to show incorrectly (all selects in the middle take full remaining width, forcing subsequent selects to be on a new line)

[2017-06-22 03:05] amin007 commented on #8575
ok

[2017-06-29 16:13] vincedan commented on #8546
thanks, @arschmitz and other guys who contributed and is contributing on juerymobile.  thanks you for your effort.

[2017-07-05 21:59] sandygettings opened #8581 "jQuery Mobile Compatibility with .Net - Move popup widget's DIV to the inside the form tag"
We’re using jQuery Mobile and .Net web forms for constructing mobile web pages. We’re using the latest compatible versions, jQuery 2.1.4 and jQuery Mobile 1.4.5. I’ve discovered a case where .Net web controls lose their values if they are inside a popup widget. Take the following example:

Say a mobile page contains a jQuery popup DIV. Inside the popup, there are two .Net web controls, a TextBox a

[2017-07-11 15:52] louisatome opened #8583 "taphold triggered when stop the propagation of touchend"
#### Description
I have a <code>touchend</code> and a <code>taphold</code> listeners on my div. If I stop the propagation in the <code>touchend</code> listener, the <code>taphold</code> will be called even with a simple tap.
#### Test page
https://jsfiddle.net/xf0j6xy5/4/
#### Step to reproduce
1. Open the JSFiddle page with a mobile (android/iOS)
2. Tap on the orange block
#### Expected outcome
T

[2017-07-13 04:05] apsdehal commented on #8578
See https://forum.jquery.com/topic/hyperlinks-not-working-with-jquery-mobile . Closing as common forum question.

[2017-07-13 04:05] #8578 closed

[2017-07-13 04:07] apsdehal commented on #8573
See the link arschmitz mentioned for the options that you can set.

[2017-07-13 04:07] #8573 closed

[2017-07-13 04:10] apsdehal commented on #8567
Search on what a base tag is supposed to do.

[2017-07-13 04:10] #8567 closed

[2017-07-19 17:10] AdamCDunlap opened #8584 "Taphold event erroneously fires on cloned nodes"
When an element with a registered taphold event is [cloned](http://api.jquery.com/clone/) with `withDataAndEvents` set to `true`, the new element fires taphold events 750ms after clicking or touching the element, even if you release the mouse/finger. Here's an example:

[code]

(Similar code can be found at http://jsbin.com/xicevifuti/edit?html,output)

This is based off of the [taphold documentat

[2017-08-21 06:27] deblocker opened #8585 "Add onaftershow & onbeforehide events to ToolBar widget"
The full-screen Toolbar widget will hide or show when data-tap-toggle is enabled, but there isn't any notification event for that.

Raising events show() after Toolbar has been shown and hide() before Toolbar will be hidden can help to reposition other page elements which can profit from the full-page layout.

This will be especially useful for mobile devices (less screen space available).

[2017-08-27 15:08] sixtyfive commented on #8546
@arschmitz, I just tried getting JQM 1.5 (built from git) to work with a current jquery-git, but can't get past `TypeError: $.event.props is undefined`, the same as when trying with JQM 1.4. Am I hitting a new incompatibility? Any chance to make it work?

[2017-08-28 13:24] arschmitz commented on #8546
@sixtyfive Can you please open a new issue for this its not related to this issue

[2017-08-31 07:29] shivam1111111111 opened #8586 "I am fixing the position of footer causing it moving upwards on screen while input in ipad"
Hi Guys ,

I am developing an application with SAP UI5 and javascript . I have a footer on my main page whose position i have fixed .But it is moving on screen of ipad while i am entering anything in search box . If i remove the fixed position this issue resolve but the footer is coming half . Any solutions?

[2017-09-05 09:09] groodt opened #8587 "1.5 Release date"
Hi

Is there likely to be a release date available for the stable version of 1.5? I am aware the alpha is available, I'm just wondering if the 1.5 release has lost momentum.

Thanks
Greg

[2017-09-05 20:24] mpena2099 opened #8588 "Alignment problem using grids (strange chars)"
Hi! Strange problem when I try to use grids:

Code
[code]

View:
![Grid1](https://i.imgur.com/YUZEmMT.png)

And if I remove the line `<meta charset="utf-8">`:

![Grid2](https://i.imgur.com/xwLsF2T.png)

No ideia where is the problem...

Thanks,
Mauricio

[2017-09-05 20:40] #8588 closed

[2017-09-06 12:13] mindchasers commented on #8587
On 09/05/2017 05:09 AM, Greg Roodt wrote:

I have been wondering the same thing.    There hasn't been a commit on
master since Jan 2, 2017:
https://github.com/jquery/jquery-mobile/commits/master

An IRC jquery-mobile meeting is scheduled for tomorrow (Thursday 9/6) at
2:00 PM (Eastern Time).  Can someone from the jquery-mobile development
team please join in and provide an update?

https://meeting

[2017-09-06 12:18] arschmitz commented on #8587
Yes there will be a new release very soon. There will also be a significant announcement about jQuery Mobile and its team either this week or next look out on both the mobile and UI blogs for more info

[2017-09-09 00:24] groodt commented on #8587
Glad to hear things are still moving. I'll keep an eye out for an update in the coming week.

[2017-09-15 04:31] Dhanasekaranjones opened #8589 "Cannot read property 'concat' of undefined"
I'm using jquery mobile latest version and using jquery.min.js latest version.
but i see the error
Uncaught TypeError: Cannot read property 'concat' of undefined at jquery.mobile-1.4.5.js
![jquery](https://user-images.githubusercontent.com/31949378/30466631-e19ea9f6-99fc-11e7-8087-455360e28f71.PNG)

[2017-09-15 23:50] groodt commented on #8587
Was there any announcement?

[2017-09-16 00:38] arschmitz commented on #8587
Sorry we are still working on the blog post and some details that were discussed in meeting yesterday will be within next few days

[2017-09-16 09:27] Dhanasekaranjones commented on #8589
Uncaught ReferenceError: chartvar is not defined

I m using latest framework7 template.but i saw the error for Uncaught ReferenceError: chartvar is not defined.
Tell me what's the error and solve solution.

![vital](https://user-images.githubusercontent.com/31949378/30511084-4604d1d4-9aef-11e7-96e3-cffe37ffd40c.PNG)

[2017-09-18 09:38] #8589 closed

[2017-09-18 09:43] Dhanasekaranjones opened #8590 "Uncaught ReferenceError: chartvar is not defined"
I have used for older Framework7 1.4.0 version earlier.
Now i have updated the latest Framework7 1.6.4 version. But older version methods does not working on 1.6.4.
I saw the error for **Uncaught ReferenceError: chartvar is not defined**.
Pls check and reply the issue solution.

![framework7](https://user-images.githubusercontent.com/31949378/30536547-e0150308-9c83-11e7-8174-363d63f3dc0b.PNG)

[2017-09-22 10:46] CharLiPPS commented on #8587
Excellent news!. Thanks Alex. Everyone is waiting to c the news!

[2017-09-24 04:11] riniky opened #8591 "the jquerymobile tabs widget load twice by ajax"
I made a simple test on jquerymobile tabs, but it loads twice, here is content:

Page 1:

    <!DOCTYPE html><html><head>
    <link rel='stylesheet' href='theme-classic.css'/>
    <script src='jquery-2.1.4.min.js'></script>
    <script src='jquery.mobile-1.4.5.min.js'></script>
    </head><body><div data-role="page"><div data-role="content">

    <a href="a2.asp">test</a>

    </div></div></body><

[2017-09-25 07:14] groodt commented on #8587
I'm eagerly waiting too. I've not seen anything. Did I miss it?

[2017-09-27 14:16] HoussemRomdhani commented on #8529
How can I fix this issue whithout changing the version of jQuery mobile (1.4.5) ?

[2017-09-27 17:36] slavap commented on #8587
@arschmitz Few days are passed, and still we have no announcement :-( How guys are you going to compete with other frameworks? Just look at Bootstrap, Polymer, ... - they have daily commits and active community.

[2017-09-27 17:45] frankie-loves-jesus commented on #8587
@slavap as much as I love jQM my personal belief is that this project is on life support. It's simply not needed anymore, and I believe most devs know that. Say if you develop with Ruby on Rails, you already have turbolinks to replace the pagecontainer. Most other things in jQM you can easily do yourself with a little bit of JS/CSS, plus then you don't have to do custom builds to get rid of the en

[2017-09-27 19:34] slavap commented on #8587
@frankie-loves-jesus For me situation is quite different, I'm using almost all widgets from jqm and that is not enough, so I have additional ones, like jquery datatables. And for example filterable selecmenu should be provided not as example, but core widget. What is really bothers me, that jqm has some "hacks" for ancient mobile browsers, like iOS5 Safari, and they have nothing to do with iOS10/1

[2017-09-28 17:02] mxkeke commented on #8587
When will available the blog post? ... just to understand what is happening

[2017-09-29 08:06] sdondley commented on #8587
I started rewriting a project I did a couple of years ago and I was surprised to see jQuery Mobile hasn't been updated since. Now I'm wondering if I should move to something different. Ugh. I was at least familiar with jQuery Mobile and I'm not looking forward to learning a new framework.

[2017-10-02 18:36] cesar-ioc opened #8592 "JQuery mobile unable to change themes"
I have a couple of buttons that when clicked, they change between themes "a" and "b", I'm using this script to change themes:

[code]
This works as expected when change from theme "a" to theme "b", but it doesn't work if theme "b" is applied and I want to change back to theme "a".

Looks like I can only move forward in the themes list.

Here is a sample:
http://plnkr.co/edit/Xa1yhopCTUYHZAlI7M0q?p

[2017-10-04 07:29] Maheshwbc opened #8593 "iframe cache not get cleared"
iframe cache not get cleared

Tried scenarios

iframe cache not get cleared

$("#iframeid").contents().find("body").html("");
$("#care_path_doc").attr('src', ' ');
$("#care_path_doc").html('');
$('#care_path_doc').empty();

[2017-10-04 15:30] mxkeke commented on #8587
Should we consider the delay of one month from the blog post announcement in a positive or negative way? What has happened in the meantime in the organisation of the project?

[2017-10-05 15:05] ImoyaCas commented on #8161
@dpolivy could you explain a bit more detail to me what I should do to insert a min-height to a textarea with autogrow? thank you!

[2017-10-05 17:11] dpolivy commented on #8161
@ImoyaCas You want to add a `minHeight` variable here:

https://github.com/jquery/jquery-mobile/blob/e377564aa121d0439a21bc97f7854ee618c3f72d/js/widgets/forms/autogrow.js#L116

Then use the code above to assign a value to it around here:

https://github.com/jquery/jquery-mobile/blob/e377564aa121d0439a21bc97f7854ee618c3f72d/js/widgets/forms/autogrow.js#L134

And finally, assign it to the element he

[2017-10-06 21:12] socklint commented on #8587
<bump>I have an old project that I would prefer to update rather than moving to a new framework.
 Any word on this? The use of earlier versions of jQuery increases this project’s attack surface.</bump>

[2017-10-09 10:26] ImoyaCas commented on #8161
Thank you @dpolivy, i'm going to work on it

[2017-10-13 19:20] sixtyfive opened #8595 "$.event.props is undefined"
A couple of months back I had commented on #8546 about a problem with both 1.4 as well as the latest (at the time) 1.5 code, where `TypeError: $.event.props is undefined` would show up in console. FWIW, that problem does not occur anymore with the lastest (at this time) git code. I would have posted in #8546 had it not been limited to collaborator comments. Posting the information here instead for

[2017-10-13 19:20] #8595 closed

[2017-10-14 13:30] HerrimanCoder opened #8596 "Strange question mark icons in navbar"
I see strange question mark icons in navbar:

![strangeicons](https://user-images.githubusercontent.com/8998614/31576109-e8e079c6-b0b1-11e7-83cb-acc020c89d99.png)

Here is my full source code:

[code]

I tried that with and without the `<meta charset="utf-8">` and it's the same either way. I am using Chrome 61.0.3163.100 (Official Build) (64-bit). This is a bizarre and troubling problem, especiall

[2017-10-14 15:50] HerrimanCoder commented on #8596
I found the problem. I believe I can prove that the code samples from **demos.jquerymobile.com** come with pesky UTF-8 non-breaking spaces that cause those question mark icons to appear in a browser. The way I work around this is, after copy/pasting from jquerymobile into Notepad++, I have to click Encoding in NPP and do the following steps, in order:

1. Select Encode in UTF-8
2. Select Convert t

[2017-10-14 15:50] #8596 closed

[2017-10-14 17:00] dryabov commented on #8596
I'm not sure, but most likely for some character sets Notepad++ may convert UTF-8 non-breaking spaces (0xC2 0xA0 sequence) into corresponding codepage's non-breaking spaces (0xA0 byte for Windows-12xx codepages).

[2017-10-20 13:23] pandric0 commented on #8587
Hi there,
just wondering if very soon in weeks is relative to month or year :D (just kidding) when will it likely to release and what about "significant announcement" I know that it's a free framework and efforts are and have been made but can we please have some news even if it's bad, because other dev-teams depend on it ?
thanks.

[2017-10-20 21:26] tyrex1975 commented on #8587
Such a shame to see JQM dying like this. We have an app based on it, and everyone who uses it loves it, but we're finding it really hard to keep it relevant when all the other frameworks are moving on so quickly. Non-native form inputs (like dropdowns/radios etc.) is where it really excels for us - it keeps the look and feel consistent across all devices - nothing comes close. We'd love to get it

[2017-10-20 22:49] apsdehal commented on #8587
Hi,
We are in process of revamping the structure, first we are moving to slack (join [here](https://join.slack.com/t/jqueryui-dev/shared_invite/enQtMjU4MzcwMDYyMDAwLTllMTc3Njg5ZjQxMjVjY2RmNzU0YWQyYjUwOTcwOTBiMjRhMzdhY2U0MmRlNWNkNzQ1NGYzNTczY2ZlYjBiYmM)). Further, we have 1.5 ready, you can consider it to be in beta version. I have been working on updating documentation [here](https://github.com/jq

[2017-10-20 23:21] NestorAcevedo opened #8597 "tap events never triggered on mobile devices"
I am developing an hybrid app.

The click event works ok, but (according with apache cordova) it event "raise" a lag of ~300ms (but I do not notice it) so they encourage the use of tap event.

Now, changing click to tap gets on an issue: tap event never is fired.

I am developing on Apache Cordova 6.3.1 with jQuery 3.2.1 and jQuery Mobile 1.4.5

This is my code:
`$("#siguiente").on('tap', function

[2017-10-21 18:23] apsdehal commented on #8597
@NestorAcevedo Can you create a fiddle for your issue so I can reproduce it? See [CONTRIBUTING.md](https://github.com/jquery/jquery-mobile/blob/master/CONTRIBUTING.md)

[2017-10-21 18:24] apsdehal commented on #8593
@Maheshwbc Can you create a fiddle for your issue? See [CONTRIBUTING.md](https://github.com/jquery/jquery-mobile/blob/master/CONTRIBUTING.md)

[2017-10-23 16:47] NestorAcevedo commented on #8597
[https://jsfiddle.net/ce0g1hs9/1/](url)

But I was testing and no events are fired on jsfiddle. It gets the following error:
_a.event.props is undefined_ in firefox
_Cannot read property 'concat' of undefined_ in Chrome

So my presumption is about that error.

[2017-10-24 18:27] NestorAcevedo commented on #8597
According with https://github.com/jquery/jquery-mobile/issues/8546#issuecomment-271163317 and https://github.com/jquery/jquery-mobile/issues/8484#issuecomment-234382449 jQuey Mobile is compatible with jQuery 3.x but no one 3.x worked with my issue so I downloaded and used jQuery 2.2.4 in my mobile app and tap event runs so jQuery Mobile is not totally compatible with jQuery 3.x

I will hope JM 1.5

[2017-10-24 18:50] apsdehal commented on #8597
Yes, the versions previous to 1.5 are not compatible with jQuery 3.x. And yes, jQM 1.5 will be compatible with jQuery 3.x.
Closing as resolved for now. If you face similar issue again, feel free to comment.

[2017-10-24 18:50] #8597 closed

[2017-10-24 18:51] apsdehal commented on #8590
This is repo for jQuery Mobile not Framework 7.

[2017-10-24 18:51] #8590 closed

[2017-10-25 21:19] nhinze opened #8598 "iPhone X and JQM 1.4"
This article is quite helpful to help fix the iPhone X issues with JQM 1.4 and WebViews.

http://ayogo.com/blog/ios11-viewport/

However, I can't figure out the CSS needed to move the top left menu button and to adjust for the left panel menu.

![iphonex](https://user-images.githubusercontent.com/1156143/32023862-9f79d00c-b9a8-11e7-9c53-56367df91fca.jpg)

[2017-10-26 22:25] Rudloff commented on #8552
Any news on this?

[2017-10-26 23:17] #8598 closed

[2017-10-27 05:34] deblocker opened #8599 "Autodivider overwrites count bubbles"
1) Setting data-autodivider="true" or setting in code the option autodividers: true destroys the count bubbles.
2) Setting option autodividers: false has no effect.
It would be great if the wonderful Autodivider feature could be used together with count bubbles.

Moreover - but i believe this is a separate enhancement request - it would be nice a built-in default for count bubbles which is display

[2017-11-04 14:21] Vjay5 opened #8600 "twitter bootstrap 3 navbar"
Hi,
am new here and i need your assistance.
I am developing a navbar for a small website, the issue is whenever i put it to full screen the menu dissapears and only shows when i reduce it medium sized screen. please help.
Thank you for your time.

[2017-11-20 02:10] yousoff92 opened #8601 "iOS 11.1 SecurityError ( DOM Exception 18) on history.replaceState"
Currently we are facing the above exception in our iOS 11.1. The app works fine in previous iOS 11 but throws exception on iOS 11.1. We are unable to view our app at all. But if we remove the line history.replaceState in jquery.mobile-1.4.5.js we can view the app, but those navigation between screens wont work.

We built the app using Jquery Mobile v1.4.5 and Apache Cordova.

Reference :
https://s

[2017-11-24 14:54] amin007 commented on #8587
i wait the new version sooooooooooooooooooooooooooooooooooooooooo
loooooooooooooooooooooooooooooooooooooooooooooooooooooooooog

[2017-11-25 14:37] christianTF opened #8602 "Panel: Easier way to define width of left and right panel"
This is a feature wish for the panels.

I was surfing around to get the appropriate CSS to change the width of the right panel, found some solutions with a bulk of CSS to change and none completely work.

Therefore, I request an easy CSS entry for left and right panel to define it's width, that considers different panel flow types, the ´class="ui-responsive-panel"´ tag and ´@media´.

Thanks
Christ

[2017-11-27 11:51] crazy-geek94 commented on #8589
It seems jquery mobile is not compatible with jquery version 3.X and that's the error reason.

[2017-11-30 23:58] deblocker commented on #8586
Give a look here: https://gist.github.com/avesus/957889b4941239490c6c441adbe32398

[2017-12-06 20:20] byamla opened #8603 "JQM 1.5 does not finish loading with RequireJS"
When using jQuery Mobile 1.5 in conjunction with RequireJS, none of the define() calls except for the very first ever resolve, so the $.mobile namespace and others are never populated. This seems to be the case with files generated by the download builder and built locally with Grunt.

I couldn't figure out a JSBin example since it doesn't seem to serve up the latest 1.5, but my test page using Re

[2017-12-06 21:55] slavap opened #8604 "selectmenu refresh() is incorrect in case of filtering"
$.inArray( i, indices ) must be replaced with item's "option-index"
[code]

[2017-12-10 03:19] clueo8 opened #8605 "Textarea with Textinput widget acts up on Chrome (Android)"
Using Android 8.0.0 on Pixel 2, Chrome browser version is 63.0.3239.83.

I use jqm 1.4.5 with jquery 1.12.0.

When typing into a <textarea> that is using the Textinput Widget, after about 3-4 lines worth of content, the browser freezes up, does not let you enter anymore content into the textarea even then you're pressing keys and renders the webpage useless.  The screen will even start flashing ra

[2017-12-12 09:06] e-rasvet opened #8606 "iOS on the Chrome browser the cursor does not hover in the correct place before data is entered"
iOS on the Chrome browser the cursor does not hover in the correct place before data is entered.
https://yadi.sk/i/wjAteSM33QY9Jp

On video (1m20s):

https://vimeo.com/246928397#t=1m20s

And I've no this bug with Android chrome or PC.

[2017-12-19 07:03] dioslaska commented on #8606
This is actually a webkit bug, introduced in iOS 11: https://bugs.webkit.org/show_bug.cgi?id=176896
It happens, when the input field is inside a container with `position: fixed;`

[2017-12-21 16:29] rickymatthews opened #8607 "iOS 11.2.1 Bug with panel"
Since the recent iOS update, I've noticed the panel on push always scrolls back to top when scrolling down. This might be caused by the new Safari navigation animation, as it used to stay at the top, now it goes smaller as you scroll down. Replicated on the jquery mobile demo site, gif attached;

![output](https://user-images.githubusercontent.com/16592150/34264871-1ffcc17c-e66c-11e7-8537-3ba0a896

[2017-12-24 16:41] celex123 opened #8608 "bootstrap validation - preventDefault not working"
$('#registration').bootstrapValidator({
            feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
            fields:{
                rusern:{
                    validators:{
                        stringLength:{
                            min:6,

[2018-01-01 19:26] KrunchMuffin commented on #8587
Sneh

[2018-01-02 23:44] dnavarrojr opened #8609 "Using jQuery.html() to update an element in a jQuery Mobile App results in scrambled display"
I have a web app running in iOS 10 on an iPad 2.  Using jQuery 1.11.1 and jQuery Mobile 1.4.5.

This problem does not happen when using the Safari browser.  It only happens with third party browsers using the WKWebView or UIWebView render engines.

When updating text in an element

`$( element ).html( text );`

The text displayed is scrambled if the updates occur any faster than 15 seconds apart.

[2018-01-02 23:54] dnavarrojr commented on #8609
Tested with Chrome for iOS and problem does not happen. Not sure what engine Chrome uses.

[2018-01-03 00:01] dnavarrojr commented on #8609
After searching the web, I found a work-around...

`$( element ).empty().html( text );`

Emptying the element first appears to fix the render issue.

[2018-01-04 15:21] bensimes opened #8610 "Fixed header position breaks when opening push or reveal panel"
I found if you change overlay with either push or reveal, depending on the one you wish to use. And find and replace all within the jquery.mobile-1.4.5.min.js and jquery.mobile-1.4.5.min.css. The panel now works.

Issue before the change
![screen shot 2018-01-04 at 15 20 21](https://user-images.githubusercontent.com/22589046/34570140-d17404be-f162-11e7-9054-3dbff393d663.png)

issue after the chang

[2018-01-05 03:24] apsdehal commented on #8610
Hey, can you what did you find and replace in jquery-mobile js and css? Specifically what change you made?

[2018-01-05 03:26] apsdehal commented on #8609
Can you create a jsbin for this, so it can be easily reproduced? And chrome uses chromium.

[2018-02-07 23:34] snoopiesnax opened #8612 "Can we all admit this project is dead?"
And update the website and README accordingly?

[2018-02-15 00:13] dems54 commented on #8598
Hello @nhinze,

Why did you close this issue ? Do you have a solution ?

[2018-02-15 00:17] nhinze commented on #8598
I fixed it this way:
/* iPhone X fix */
.ui-header-fixed, .ui-header-fixed .ui-btn-left, .ui-header-fixed .ui-btn-right, .panelmenu .ui-panel-inner .ui-listview {
    /* Status bar height on iOS 10 */
    padding-top: 20px !important;

    /* Status bar height on iOS 11.0 */
    padding-top: constant(safe-area-inset-top) !important;

    /* Status bar height on iOS 11+ */
    padding-top: env(safe

[2018-02-16 06:34] LemonHard opened #8613 "How to use jQuery Mobile with cross protocol links and browser history back ? (with ajax page load)"
I'm working on an mobile app with Phonegap and jQuery Mobile (JQM).
My index.html (drop point) has a Panel with links to various html pages.
The pages come from local app filesystem (file://) AND remote server (https://).
Since few days i think i've read everything on the topic to make it work correctly but i'm stuck with the "back in history" of the webview (browser) managed by JQM with url hashe

[2018-02-18 19:33] aesculus opened #8614 "Closing Panels Reverts to Main Page on iOS 11.2.5"
I recently updated my device to iOS 11.2.5 and any panel that goes Back causes subsequent panel closes to revert to the main menu.

Sometimes it takes two taps to cause the Back button to action and then the issue shows up for subsequent dialog loads where closing them results in a return to the main panel.

It appears that iOS 11.2.5 Safari has made some changes on how it caches or deals with ret

[2018-02-18 23:52] aesculus commented on #8614
An update to this: It appears to be an incompatibility with Google Maps API 3.31.

I forced the API to API V3.30 and all is OK.

I should have suspected this when I recently had to change a CSS hack to deal with an InfoWindow format problem.

[2018-02-18 23:52] #8614 closed

[2018-02-19 13:01] lakinmohapatra commented on #4113
$(window).resize(function(){
                if($(window).width() + $(window).height() != _originalSize){
                  console.log("keyboard show up");
                  $('#order-checkout-block').hide();
                }else{
                  console.log("keyboard closed");
                  $('#order-checkout-block').show();
                }
            });

[2018-02-19 18:06] jtara commented on #4113
lakinmohapatra, did you try that solution on iOS?

Unless something has changed in recent Mobile Safari versions, it does not change the size of *window* when the keyboard is shown.

But what does it solve? Not the subject of this Issue! Is it meant as a partial solution - e.g. how to determine if the keyboard is shown?

Your solution for determining if keyboard shown would work for Android. But t

[2018-02-20 11:03] heyrm commented on #8612
yep

[2018-03-02 19:22] jtara commented on #8612
Insert random Dr. McCoy clip here...

[2018-03-03 04:15] nexushoratio commented on #8563
I think this IS a bug with jquery mobile.  Or at least a documented example.

I was following the example at http://demos.jquerymobile.com/1.4.5/controlgroup/#Textinputs .  This renders into the example shown in the first link.

However, the standalone example I made renders like the jsfiddle above (and the attached image)
![jqm-8563](https://user-images.githubusercontent.com/6006766/36930399-cb59

[2018-03-03 05:07] nexushoratio commented on #8563
Oho!  User error!

When reading the documentation that I linked to, I did not notice the the [View Source] button brought up a pop-up that included an accordion widget.  So I never realized there was a CSS section to open up with the answer right there.

Even though I'd read where it said ``add one css rule'', I still glossed over the CSS section in the source pop-up.

[2018-03-06 05:38] Maheshwbc opened #8616 "Is it possible to restrict the smileys and emojis in android?"
I need to restrict smileys and emojis in username/password field .

If the username/password field contains smileys or emojis.
The validation should to "Enter valid username and password".

Otherwise disable to user android input type smileys and emojis options.

$("#u_name").val();
$("#p_word").val();

My app **cordova**
Need javasctipt or jquery to restrict it

[2018-03-07 17:46] apsdehal commented on #8616
This isn't a feature that is supported--or will be supported--by jQuery Mobile. This needs to implemented by the developer himself (too specific a request).

[2018-03-07 17:46] #8616 closed

[2018-03-07 17:48] apsdehal opened #8617 "Travis: Fix travis failing build on master for everything except demos"
With recent commit, suddenly our test have started failing on a single assertion. It would good if someone can look into what has changed.

Ref PR: https://travis-ci.org/jquery/jquery-mobile/builds/313129853

Though the PR itself hasn't changed anything related to the test.

[2018-03-07 17:51] apsdehal commented on #8617
Related PR: https://github.com/jquery/jquery-mobile/pull/8576
Even though, the travis test on PR passed.

[2018-03-07 17:56] apsdehal opened #8618 "Travis: Fix failing demos tests"
Demos tests for travis have been failing for quite long.
Ref: https://travis-ci.org/jquery/jquery-mobile/jobs/313129859

It seems like a simple fix which will require `npm install -g casper`.

See: https://github.com/SpookyJS/SpookyJS/issues/206

[2018-03-08 04:30] Maheshwbc commented on #8616
Thanks for your feedback.

And i can use this code for validating and its working for me.

function isEmoji(str) {
    var ranges = [
        '\ud83c[\udf00-\udfff]', // U+1F300 to U+1F3FF
        '\ud83d[\udc00-\ude4f]', // U+1F400 to U+1F64F
        '\ud83d[\ude80-\udeff]' // U+1F680 to U+1F6FF
    ];
    if (str.match(ranges.join('|'))) {
        return true;
    } else {
        return false;

[2018-03-12 08:09] simonpai commented on #6039
Test page:
http://output.jsbin.com/xomuhudeli

I'm not the original reporter, but I think his description is quite straightforward, given that you are aware of the w3c issue:
https://bugs.chromium.org/p/chromium/issues/detail?id=20574&desc=2

In brief, position: fixed breaks when the element locates inside a ancestor who has transform property. This is rather a w3c spec bug and browser vendors hav

[2018-03-13 06:49] simonpai opened #8619 "Please reopen issue 6039"
I added some information yesterday to an old issue (which is still valid), but I don't have the right to reopen it, for I am not the original reporter. Please spare a few seconds and see if it's worthy to reopen it. Thanks!
https://github.com/jquery/jquery-mobile/issues/6039

[2018-03-13 13:40] arschmitz commented on #8619
re-opened

[2018-03-13 13:40] #8619 closed

[2018-03-14 18:15] mgorczyca opened #8620 "Still occurring: Range slider does not move in specified step using mouse drag when max value is big #7636"
There are comments in the related closed issue (#7636) say that the slider will be rewritten to allow the mouse drag for a slider to have the maximum granularity of one pixel. A few months later, the issue was closed.
We are experiencing the 100-step limit in current slider code. Could you please clarify the intended resolution for increasing the slider drag granularity to one pixel?
Thanks very m

[2018-03-22 17:05] aleriver87 opened #8621 "data-role="page" is not working properly"
jquery.mobile-1.4.5.min.js:4 Uncaught TypeError: Cannot read property 'concat' of undefined
    at jquery.mobile-1.4.5.min.js:4
    at jquery.mobile-1.4.5.min.js:4
    at jquery.mobile-1.4.5.min.js:3
    at jquery.mobile-1.4.5.min.js:3

The error is in line 3337:
       **mouseEventProps = $.event.props.concat( mouseHookProps ),**

My friend try to fix it using:
       **mouseEventProps =  $.event

[2018-03-23 20:48] slavap commented on #8621
@aleriver87 Use jQuery Migrate together with jQuery3, it's here: https://github.com/jquery/jquery-migrate
Then jQuery Mobile will work just fine, the only problem I've encounter was non-closing popups, but it's easy to fix with back-ported changes from 1.5 version:
[code]

[2018-03-27 09:15] djmj commented on #8561
Please reevalute to open this issue. 5.0 alpha demo does not seems to have a mobile equivalent of https://jqueryui.com/spinner/ component.

When user needs to input a small amount of integer (like the quantity of a item in shopping cart), it is much more convenient to just press a + or - icon to edit the value instead of clicking inside a text-input.

[2018-03-29 06:47] HoangTrung opened #8622 "Link attribute data-direction="reverse" has no more worked"
I made the following link, but the transition is not reversed as expected any more. It did work before.
Please check
`<a data-direction="reverse"  data-transition="slide" href="/home" data-icon="ig_home" data-iconpos="notext" data-role="button"></a>`

/*! jQuery v1.11.3
/*! jQuery Mobile 1.4.5

[2018-04-06 09:56] pankajGODB commented on #4113
Header and footer change their position after keyboard popup - iOS
1) Try adding cordova plugin add cordova-plugin-wkwebview-engine plugin for cordova project hope this will help because it helped in my page.
2) if above plugin doesnot help then remove cordova-plugin-wkwebview-engine and add  cordova plugin add cordova-plugin-crosswalk-webview.

Issue will be resolve for header.

[2018-04-06 11:26] muthuraman007 opened #8623 "on dropdown select causes focus to next control"
I have form with many textbox and select tags. When i click the select tag its not opening the dropdown menu instead it move focus to next  control that i  have not selected.
This issue occurs only in iPhone.

Please anyone help me to solve this.

[2018-04-06 14:29] muthuraman007 commented on #8623
To Stop automatically closing dropdown issue or stop switching to other element issue use preventDefault() method in touch event of the select element.

Example

[code]

[2018-04-06 14:29] #8623 closed

[2018-04-18 08:56] deblocker commented on #8607
I am also facing similar issue. Did You tried with `shrink-to-fit` ?  Maybe it is related to this here: [The Problem with iOS Safari and shrink-to-fit](https://bitsofco.de/ios-safari-and-shrink-to-fit/)

[2018-04-18 09:00] rickymatthews commented on #8607
@deblocker I ended up using `data-position-fixed="true"`, the issue above is caused by the change in height when the address bar slides up, so fixed position works.

[2018-04-18 09:40] deblocker commented on #8612
I would appreciate something like a 1.4.6 with the most obvious fixes and that's it. IMHO, the 2612 forks it means that is too good to let it die. Just my two cents. Any thoughts? Is there someone aware of a good fork which can resemble a "1.4.6"?

[2018-05-03 06:34] alexandis commented on #8605
I gave the same issue on Lenovo Vibe X3 and Android 6.01 and seems had this on other devices before. It's getting really frustrating when you have important online chat or filling long form. I wonder why this problem is ignored till now!

[2018-05-07 22:08] ElliotNB commented on #8612
@arschmitz has been talking about the need to re-group and draw in more contributors for almost a year now. Unfortunately, I don't see the leadership undertaking any effort to achieve that goal.

If this project had new proactive leadership that actively engaged with the community and actively recruited contributors, then I have little doubt that it would thrive again. As @delocker pointed out, a

[2018-05-09 18:34] ppetree commented on #8612
@ElliotNB  hit the nail on the head here _"Though it hasn't seen a significant release since version 1.4.5 in 2014, jQuery Mobile is still a brilliant UI framework for rapidly building user friendly mobile applications. I am particularly fond of jQuery Mobile for the fact that it is strictly a UI framework and keeps framework-specific constraints and rules to a minimum."_

However, we really must

[2018-05-18 15:10] emiliogarza commented on #8612
With the recent vulnerabilities reported about jQuery under version 3, it's unfortunate the JQM team still does not have a production release ready that is compatible with jQuery 3! Definitely agree with @ElliotNB and @ppetree

[2018-05-22 05:17] ElliotNB commented on #8612
@apsdehal @jaspermdegroot Do you know what's going on with the project? None of us have heard anything from @arschmitz in quite some time.

As you can see from this thread there are plenty of people here who are interested in the longevity of this project. There are plenty of potential contributors -- myself included. However, there must be some sort of active engagement and recruitment effort fro

[2018-05-27 23:27] PanderMusubi opened #8624 "Carat icons are missing from 1.5.0-alpha.1"
Carat icons are missing from 1.5.0-alpha.1. Please, add these.

[2018-05-27 23:33] PanderMusubi opened #8625 "Add demos for OpenStreetMap"
Please add demos for OpenStreetMap which are similar to http://view.jquerymobile.com/master/demos/map-geolocation/ and http://view.jquerymobile.com/master/demos/map-list-toggle/ that use Google Maps.

[2018-05-28 10:33] PanderMusubi commented on #8624
Note that `jquery.mobile-1.5.0-alpha.1.min.css` is not included in current custom downloads. Is that a bug?

[2018-05-28 11:46] PanderMusubi opened #8626 "Hiding icon collapsible doesn't work in 1.5.0-alpha.1"
Hiding an icon in a collapsible with data-iconpos="none" doesn't work in 1.5.0-alpha.1. It adds whitespace that should not be there.

[2018-05-31 21:15] Zhuinden commented on #8612
Honestly, we spent enough time back in the day (3 years ago?!) debugging why 1.4.5 (current "latest stable") broke scrolling on iOS, had the navigation drawer "stop showing" on Samsung Galaxy S4 4.4.2 and stuff like that; that I'd rather see this project stay dead.

Use Ionic 3 or something, maybe that's better.

[2018-05-31 22:02] ppetree commented on #8612
Yeah, I think ionic is where I'm heading.

Problem is, I have two MAJOR apps based on JQM (both 10K lines of code) and I want to milk the current code base as long as I can.  There are a lot of bugs in 1.4.5 and were supposedly fixed in 1.5 but given the lack of support (and frankly, the activity around 1.5 .died as quickly as it began with no updates since) that day may be coming sooner than I ho